-- File: MFileServer.config - last edit:-- bjd                 13-Mar-88 21:01:47-- AOF                 22-Feb-88 11:24:31-- Nannette            21-Oct-86 10:30:15-- JCS                 10-Dec-85 10:56:12-- Copyright (C) 1984, 1985, 1987, 1988 by Xerox Corporation. All rights reserved. MFileServer: CONFIGURATION LINKS: FRAME  IMPORTS     Atom, Auth, CH, CmFile, Courier, Exec, Format, FormSW, Heap, Inline, MemoryStream,     MFile, MStream, NSFileCourier, NSFile, NSName,    NSString, Profile, Stream, String, PhysicalVolume, Put, Runtime, System,     Time, Token, Tool, XStream, ToolWindow, Window, Volume  CONTROL MFileServerImplA, MFileServerTool = {  MFileServerImplA;  MFileServerImplB;  MFileServerImplC;  MFileServerDebugImpl;  MFileServerTool;  MFileServerUtilityImpl;  V4NSFileCourierImpl;  }.