-- SymTool.config  Edited by:--  Sweet,	25-Apr-84 22:24:21-- Saxe	 2-Mar-87 11:41:13SymTool: CONFIGURATION  IMPORTS    DebugUsefulDefs, Format, FormSW, Heap, MFile, MSegment,     MsgSW, Put, Runtime, Selection, String,     UserInput, Time, Tool,     Window, WindowFont  CONTROL     STDebug, SymToolCommands, SymToolFile, SymToolInterface =  BEGIN    Dummies: CONFIGURATION EXPORTS MopOps = {    FopNames;    ESCAlphaNames;    SDDefsNames;    };    SymToolInterface;  SymToolCommands;  SymToolFile;  SymToolPkg;  SymToolSearch;  RESIOPack;  DebugTab;      STDebug;    Dummies;    END.