-- Copyright (C) 1982  by Xerox Corporation. All rights reserved. -- File: DumbTTYImpl.config - last edit by:-- RXJ     ,  8-May-82 21:32:32-- LXR    ,  30-Nov-82 18:52:16DumbTTYImpl: CONFIGURATION  IMPORTS     Heap, Process, RealMemory, SpecialRuntime, Space, Stream, TTY, TTYPortFace  EXPORTS TTY  CONTROL FreeAllReservedMemory  =  BEGIN    TTYLearSiegler;  TTYPortChannel;  FreeAllReservedMemory;    END...  