-- FloppyTapeOnlDiagConfig.config-- Copyright (C) 1987 by Xerox Corporation. All rights reserved-- Last edited	By RK  9-Dec-87 18:09:46FloppyTapeOnlDiagConfig: CONFIGURATION  IMPORTS    FloppyDiskFace,    FloppyChannel,    FloppyTape,    FloppyTapeExtras,    Inline,    Process,    ResidentHeap,    Space,    SpecialFloppyChannel,    SpecialFloppyChannelExtras,    String,    VM  EXPORTS    OnlineDiagnosticsExtraExtras =   BEGIN  FloppyTapeOnlineDiagnosticsImpl;  VerifyReadImpl;    END... -- of FloppyTapeOnlDiagConfig.configLOGRK  1-Apr-87 removed VM from IMPORTSRK  2-Apr-87 put back VM and EnvironmentRK 20-Apr-87 replaced offline diag modules with new online modules VerifyReadand VerifyReadImpl.RK  9-Dec-87 18:09:46 added FloppyChannel, FloppyTapeExtras and SpecialFloppyChannelExtras imports