-- NSMailSendTool.config-- AlHall		 8-Aug-84 12:20:36-- Wobber		16-Dec-83 16:54:07-- Brenda Hankins	 9-Nov-83 15:37:38-- NSG          	 14-Jan-85 18:01:57SendTool: CONFIGURATIONIMPORTS   Auth, AsciiSink, CmFile, Context, Courier, Cursor, Event, Exec,   FileName, FileTransfer, FormSW, Heap,   MailAttributes, MailReadOps, MailTransport,-- MailUtil,-- MFile,  MStream, NSDataStream, NSName, NSString, Process, Profile,   Put, Runtime, ScratchSource, Scrollbar, --StartOps,--  String,  Stream, Supervisor, TextSource,   TajoMisc, TextSW, TextSWExtra, Token, Tool, ToolDriver, ToolFont, ToolOps,  ToolWindow, UserInput, Window, WindowFont  EXPORTS ALL --MailSend, MailParse, MailUtil, StartOps--  CONTROL MailSendToolImpl =BEGIN  MailUtilImpl;  MailPostImpl;  MailSendToolImpl;  MailParseImpl;  END.-- log:-- NSG      14-Jan-85 18:02:26 changed name from NSMailSendTool to SendTool