-- Copyright (C) 1982, 1984  by Xerox Corporation. All rights reserved. -- File: Compare.config  -- Last Edit by TXS            16-Nov-82 10:21:04-- RSF      	                2-Aug-84 16:05:56 Compare: CONFIGURATION  IMPORTS  CompareDefs, Exec, FileName, FileTransfer, Format, FormSW, Heap, Inline, MFile, MSegment, MStream, MsgSW, Process, Put, Runtime, Stream, String, Time, Tool, ToolDriver, UserInput, UserTerminal, Version, Volume   EXPORTS CompareDefs  CONTROL CompareWindow =   BEGIN  CompareWindow; CompareControl; CompareImpl;    END.