-- File: RS232CIOHeadsBounty.config - last edit:-- JPM                  9-Oct-90 12:09:36-- Copyright (C) 1989, 1990 by Advanced Workstation Products, Inc., a Xerox company. All rights reserved.RS232CIOHeadsBounty: CONFIGURATION LINKS: FRAME  IMPORTS    BountyInputOutput, ByteBlt, DeviceCleanup, Heap, Process, ResidentHeap,    SpecialHeap, SpecialRuntime  EXPORTS    NewRS232CFace, RS232CEnvironment, RS232CFace, RS366Face  CONTROL RS232CSubDriver, SerialHeadBounty, RS366HeadBounty =BEGINRS232CSubDriver;SerialHeadBounty;RS366HeadBounty; -- dummy moduleEND...22-Nov-89  JPM  Created27-Nov-89  JPM  Added RS366HeadBounty 9-Oct-90  JPM  Replaced RS232CHeadBounty (a dummy module) by SerialHeadBounty