-- File: RS232CIOHeadsDove.config - last edit:-- BKI                 21-Oct-87 19:29:36-- DMS                 18-Jun-85 12:07:23-- RRP                 19-Aug-87 20:16:53-- Copyright (C) 1979, 1980, 1981, 1987  by Xerox Corporation. All rights reserved.PACK RS232CSubDriver, RS232CHeadDove, RS366HeadDove;RS232CIOHeadsDove: CONFIGURATION LINKS: FRAME  IMPORTS    ByteBlt, DeviceCleanup, DoveInputOutput, Heap, NewRS232CFace,    Process, ResidentHeap, SpecialHeap, SpecialRuntime, SpecialSpace  EXPORTS    NewRS232CFace, RS232CEnvironment, RS232CFace, RS366Face  CONTROL RS232CSubDriver, RS232CHeadDove, RS366HeadDove =BEGINRS232CSubDriver;RS232CHeadDove;RS366HeadDove;END...18-Jun-85 12:07:23  DMS  Created19-Aug-87 20:16:53  RRP  IMPORTS SpecialSpace, update copyright.21-Oct-87 19:29:36  BKI  LINKS: FRAME, add PACK.