-- File: UnpackedOptionalHeadsBounty.config - last edit:-- CAJ		10-Sep-91 15:27:29-- Copyright (C) 1991 by Xerox Corporation, Sunnyvale, CA. All rights reserved.OptionalHeadsBounty: CONFIGURATION  IMPORTS    BountyInputOutput, DeviceCleanup, Environment, HeadStartChain, Inline,    ProcessOperations  EXPORTS    BiParallelPortFace, HeadStartChain2, SpecialTapeFace, TapeFace =  BEGIN  [HeadStartChain2, SpecialTapeFace, TapeFace] ¬ TapeHeadBounty[     BountyInputOutput, DeviceCleanup, Inline, HeadStartChain1,     ProcessOperations];  [BiParallelPortFace, HeadStartChain1] ¬ ParallelHeadBounty[     BountyInputOutput, DeviceCleanup, Environment, HeadStartChain,     ProcessOperations];  END...10-Sep-91 15:27:24  CAJ  Created file.