-- File: WSOnlyHeadsBounty.config - last edit:-- JAC                 20-Sep-91 15:45:00-- Copyright (C) 1991 by Xerox Corporation. All rights reserved.WSOnlyHeadsBounty: CONFIGURATION  IMPORTS    BountyInputOutput, DeviceCleanup, HeadStartChain  EXPORTS    CoProcessorFace, HeadStartChain1 =BEGIN[CoProcessorFace, HeadStartChain1] ¬ CoProcessorHeadBounty[  BountyInputOutput, DeviceCleanup, HeadStartChain];END...20-Sep-91 15:45:03  JAC/BS  Created