-- Copyright (C) 1981, 1984, 1987  by Xerox Corporation. All rights reserved. -- PilotRealImpl.config-- Last changed 11-Mar-87 23:36:33RealImpl: CONFIGURATION  IMPORTS String  EXPORTS Ieee, Real, RealControl, RealFns, RealOps  CONTROL RealControl =BEGINIeeeFloatA;IeeeFloatB;IeeeUtil;IeeeMode;IeeeIOA;IeeeIOB;RealFnsImpl;RealControl;END.MESABIND = Binder %s/csLOGDXW May 28, 1980  11:51 PM, createdLXS July 5, 1980  3:56 PM, RealOps addedLXS July 5, 1980  3:56 PM, Depend on RunMesa.runLXS July 5, 1980  3:56 PM, IeeeControl -> RealControlLXS August 12, 1980  2:14 PM, Code packing, linksLXS October 13, 1980  11:45 AM, RealFns addedLXS October 27, 1980  11:16 AM, EXPORT IeeeLXS November 8, 1980  4:14 PM, EXPORT RealControlLXS November 19, 1980  9:10 AM, IMPORT FrameDefs for RealControlLXS December 11, 1980  11:30 AM, StringDefs -> StringLXS  4-Feb-81 20:50:52 specialized for PilotRSV 11-Mar-87 23:36:33 Deleted LINKS : CODE line.