-- Copyright (C) 1981, 1982, 1983, 1986  by Xerox Corporation. All rights reserved. -- CSegDebug.config--   Edited by Bruce, 15-Sep-81 18:17:41--   Edited by Sweet, 18-Feb-83 21:03:38--   Edited by Haynes, 29-Nov-82 15:57:29--   Edited by Wagner, 10-Oct-86 10:06:48CSegDebug: CONFIGURATION LINKS: CODE  IMPORTS     DebugUsefulDefs, Format, FormSW, Heap, MopOps, MsgSW,     Put, Runtime, Selection, String, Time, Tool,    UserInput, UserTerminal, Version, Window, WindowFont  CONTROL    CSegDebugContents, CSegDebugCommands, CSegDebugSearch,    CSegDebugInterface =BEGINCSegDebugInterface;CSegDebugCommands;CSegDebugContents;CSegDebugSearch;MopImpl;OpTable;RESIOPack;MopNames;ESCAlphaNames;SDDefsNames;END.