-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- BackstopCore.config-- Edited by LXR     on 16-Sep-83 12:07:34BackstopCore: CONFIGURATIONIMPORTS DebuggerSwap, Heap, Log, LogFile, Space, SpecialSpace, String, System, TemporaryBooting, VM, Volume  EXPORTS Backstop, BackstopNub, ServicesRuntimeError CONTROL --MemCacheNub,-- BackstopImpl, ServicesRuntimeErrorImpl =BEGINBackstopImpl;BackstopNubImpl;BSMemCache;--VMMapLogImpl;--MemCacheNub;ServicesRuntimeErrorImpl;END.