-- File: TimeTracker.config - last edit:-- AOF                 10-May-88 10:37:00-- KAM                  6-Jul-84 10:34:12-- Copyright (C) 1984, 1988 by Xerox Corporation. All rights reserved.PACK TimeTrackerImpl, TimeServerClockImpl;TimeTracker: CONFIGURATION LINKS: FRAME  IMPORTS    Buffer, Event, Exec, Format, Heap, HeraldWindow, Inline, Process,    Router, Socket, SpecialSystem, String, StringLookUp, Supervisor, System,    TimeServerFormat, UserTerminal  CONTROL TimeTrackerImpl =    BEGIN  TimeTrackerImpl;  TimeServerClockImpl;  END...