-- File: TimeServiceController.config - last edit:-- AOF                  6-Apr-88 16:35:34-- KAM                  4-Mar-85 20:07:05-- Copyright (C) 1985, 1988 by Xerox Corporation. All rights reserved.TimeServiceController: CONFIGURATION LINKS: FRAME  IMPORTS    AddressTranslation, Buffer, CmFile, Format, Heap, Inline, MFile, MStream,    Process, Profile, Socket, Stream, String, System, Time, Token  EXPORTS TimeServiceStub  CONTROL TimeServiceControllerImpl = {    TimeServiceControllerImpl; TimeServiceStubImpl}...