-- Copyright (C) 1984  by Xerox Corporation. All rights reserved. -- DependencyTool.config - Last edited by--   Lewis	19-Jan-84 17:40:09--   AOF	28-Dec-84 13:17:55DependencyTool: CONFIGURATION    IMPORTS      Atom, Context, Display, DisplayOps, Exec, Format, FormSW, Heap, MFile,      MsgSW, MStream, Process, Put, Runtime, Scrollbar, Selection, SpecialDisplay,      Stream, String, TextSW, Time, TIP, Tool, ToolFont, ToolWindow,      UserInput, UserTerminal, Window, WindowFont, WindowOps     CONTROL DisplayImpl, DepToolImpl =   BEGIN  DepToolImpl;  DepSWImpl;  DepBasicsImpl;  DepNameImpl;    CWFImpl;  QuickSortImpl;  DisplayImpl;  RealFnsImpl;  END.