-- BandBLTTestTool.config - last edit:-- CRF: 16-Sep-86 17:21:27-- Copyright (C) 1986 by Xerox Corporation. All rights reserved.BandBLTTestTool: CONFIGURATION  IMPORTS    BandBLT, BitBlt, Display, Exec, FormSW, Frame, Heap, Inline, MSegment, MsgSW,    Process, Put, Space, Tool, ToolWindow, VM, Window, WindowFont  CONTROL BandBLTTest, BandBLTImpl =  BEGIN  BandBLTImpl;  BandBLTTest;  BandBLTVersionImpl;  END...