-- DiskErrorWatcher.config-- Created by DEG on 18-Mar-85 21:35:07-- Last edited by DMP on 13-Apr-85 18:04:26-- Copyright (C) 1985 by Xerox Corporation.  All rights reserved.DiskErrorWatcher: CONFIGURATION  IMPORTS     Context, Display, Exec, Flipper, FormSW, Heap, MStream,     PilotDiskFaceStatistics, Process, Runtime, Stream, String,     Time, Tool, ToolWindow, Version, Window, WindowFont  CONTROL DiskErrorWatcherImpl =    BEGIN    DiskErrorWatcherImpl;    Flippers;  END...      Created by DEG on 18-Mar-85 21:35:07  edited by DEG on 18-Mar-85 21:39:23  edited by DEG on 13-Apr-85 18:04:23  edited by DMP on  1-Oct-85 14:17:44