-- DoveHistoryBuffer.config-- JWF 23-Jul-86 15:47:02DoveHistoryBuffer: CONFIGURATION   IMPORTS Exec, FormSW, Heap, Process, Time, Version, Put, Tool, String, UserTerminal, Bindweed, TextSW, Runtime, TTY, DHBDefs, InputFilter, IOPBSymbol, UserInput, CPSymbol, CPSymbl, Stream, MStream      CONTROL DHBWindow =         BEGIN	 InputFilterImpl;	 DHBMain;	 DHBWindow;	 DHBFileIO;	 DHBHelpData;	 HelpWindowImpl;	 END.	 