-- OMFTest.config created by Dennis E. DEG      @ 15-Jan-84 21:30:20-- Last edited by Dennis E. DEG      @ 17-Mar-84  1:48:40OMFTest: CONFIGURATION  IMPORTS Exec, FileName, Format, Heap, MFile, MSegment, MStream, OMF,    ReportMError, Stream, String  CONTROL OMFTester, OMFImpl, ReportMErrorImpl =BEGIN  OMFImpl;  OMFTester;  ReportMErrorImpl;END...LOGcreated by Dennis E. DEG      @ 15-Jan-84 21:30:20Dennis E. DEG     : 15-Jan-84 21:30:24Dennis E. DEG     : 17-Mar-84  1:48:38