-- File: PCHBDisplay.config - last edit:-- bjd                 26-Aug-85 18:39:18-- FXB   .PA           22-Mar-85 16:11:27-- Copyright (C) 1985 by Xerox Corporation. All rights reserved.PCHBDisplay: CONFIGURATION  IMPORTS  Atom,  Bindweed,  DoveInputOutput,  Exec,  Format,  FormSW,  Heap,  PF,  Put,  Real,  String,  Time,  Tool,  UserTerminal       CONTROL PCHBDisplayer =   {   PCHBDisplayer;   PFImpl   }.