-- ReadIntelOBJ.config created by Dennis E. DEG      @  3-Nov-83 20:33:40-- Last edited by Dennis E. DEG      @ 18-Mar-84 22:36:52ReadIntelOMF: CONFIGURATION  IMPORTS Exec, FileName, Format, Heap, MFile, MSegment, MStream, OMF, ReportMError, Stream, String  CONTROL ReadIntelObjectFile, OMFImpl, ReportMErrorImpl =BEGIN  OMFImpl;  ReadIntelObjectFile;  ReportMErrorImpl;END...LOGcreated by Dennis E. DEG      @  3-Nov-83 20:33:40