-- RemoteVectorTool.config-- CxC   	10-Jan-85 11:01:28-- Last modified by CxC   	 11-Jun-85 13:36:59RemoteVectorTool: CONFIGURATION IMPORTS Bindweed, Display, DisplayOps, Exec, FileName, FormSW, Heap, MFile, MSegment, MStream, OMF, VectorRemoteStream, Process, Put, RealFns, Runtime, SpecialDisplay, STP, Stream, String, TestVectorIO, TextSW, Time, Tool, TTY, UserInput, UserTerminal, Version, WindowOps, Window CONTROL RemoteVectorImpl =   BEGIN   DisplayImpl;   OMFImplA;   VectorRemoteStreamImpl;   TestVectorIOImpl;   RemoteVectorImpl;   END. 