-- RHExerciser.config (created by Dennis E. DEG      on 18-Feb-84 18:37:45)-- last edited: Dennis E. DEG      on  4-Mar-84 16:41:58-- FXB    11-Oct-84 17:35:00RHExerciser: CONFIG  IMPORTS     Atom, Bindweed, Context, Cursor, Display, DisplayInternal, Exec, FileSW,    Format, FormSW, FormSWOps, Heap, Inline, MSegment, MsgSW, MStream,    Process, Put, Runtime, Scrollbar, Stream, String, SpecialDisplay, TextSW,    Time, TIP, Token, Tool, ToolFont, ToolWindow, UserInput, UserTerminal, Window,    WindowFont, Version  CONTROL SimpleBindweedDisplayer, DisplayerLoadSave, DisplayerTIPAndPaint =   BEGIN  SimpleBindweedDisplayer;  DisplayerItemHandler;  DisplayerMesaOrInter;  DisplayerTIPAndPaint;  DisplayerLoadSave;  DisplayerPlagiarize;  BurdockBindweed;  BitSWImpl;  END..