-- Copyright (C) [1984] by Xerox Corporation. All rights reserved.-- crossJumper.config-- last edited by-- RDH      	24-May-85 14:12:16crossJumper : CONFIGURATIONIMPORTS Bindweed, CPSymbol, CPCommand, CPKernel, CPKernelOps, CPuFormat, Exec, Format, Heap, Inline, KernelMicrocode, MStream, Process, Runtime, Stream, String, SymbolHash, System, UserInput      CONTROL crossJumperImpl= BEGINcrossJumperImpl;SymbolHashImpl;CPLoadImpl;CPSymbolImpl;CPKernelDaisy;END.