--DaisyHistoryBuffer.config--Written by  FS  :   14-Nov-84 12:46:39-- last edited by-- RDH	14-Jun-85 11:09:28  I186* ¬ IOPB*.-- RDH	22-Apr-85 14:22:08  Add I186Symbol to Imports.-- RDH	17-Jan-85 13:49:46  Add CPSymbolImpl, SymbolHashImpl.DaisyHistoryBuffer:CONFIGURATION  IMPORTS Bindweed, CPSymbol, Exec, FormSW, Heap, IOPB, IOPBKernel, IOPBSymbol, Inline, MFile, MLoader, Process, Put, Runtime, String, Time, Tool, ToolWindow, TTY, UserInput  EXPORTS ALL  CONTROL HBCommandImpl, HBDisplayImpl =    BEGIN      HBAccessImpl;      HBActionImpl;      HBCommandImpl;      HBDisplayImpl;      HBOptionImpl;      HBSampleImpl;      StrCnvrtImpl;    END.