-- TVectorTool2.config-- CxC   	21-Dec-84 13:22:27-- Last modified by CxC   	11-Jun-85 13:09:26TVectorTool2: CONFIGURATION IMPORTS Bindweed, Exec, FileName, FormSW, Heap, MFile, MSegment, MStream, OMF, Process, Put, Runtime, Stream, String, TestVectorIO, TextSW, Time, Tool, TVError, TTY, UserTerminal, Version CONTROL TVector2Impl =   BEGIN   OMFImplA;   TestVectorIOImpl;   TVErrorImpl;   TVector2Impl;   END. 