--File: Vespers.config --Last edit by JAC    21-May-84 13:48:52Vespers: CONFIGURATION  IMPORTS Exec, Format, Heap, Inline, MFile, MSegment, MStream,     Runtime, Stream, String, System, Time, Volume   CONTROL DsyControlImpl =BEGINDsyAllocImpl ;DsyCallLineImpl ;DsyCharImpl ;DsyConstrainedImpl ;DsyControlImpl ;DsyEncodeErrorsImpl ;DsyEncodeImpl ;DsyEncodePatternImpl ;DsyExpressionTablesImplA ;DsyExpressionTablesImplB ;DsyFileImpl ;DsyLabelImpl ;DsyLTHashImpl ;DsyMacroImpl ;DsyMacroTablesImpl ;DsyMemoryImpl ;DsyMergeImpl ;DsyMTSpaceImpl ;DsyPass1Impl ;DsyPass2AImpl ;DsyPass2BImpl ;DsyP2HashImpl ;DsyPhraseImpl ;DsySTInitImpl ;DsyTempSpaceImpl ;  END...