-- Copyright (C) 1986  by Xerox Corporation. All rights reserved. -- GuerillaBit.config     20-Dec-88 18:53:46 by TXTGuerillaBit: CONFIGURATION  IMPORTS    Environment, Heap, Inline, PageMap, Process, ProcessorFace, RandomDefs, Time, VM  CONTROL GuerillaBitImpl =  BEGIN  GuerillaBitImpl;  RandomProg;  END.LOG 3-Jul-86 11:44:46   RSV       Created file.