-- File: CommDiagServer.config - last edit:-- AOF                 11-Feb-87 21:16:37-- Copyright (C) 1983, 1984, 1987 by Xerox Corporation. All rights reserved. -- CommDiagServer.config-- last edited by SMA   5-Nov-84 14:15:18CommDiagServer: CONFIGURATION  IMPORTS    Buffer, Courier, DiagInternal, Dialup, EchoServer, EthernetDriverFriends,    Heap, CommDiags, CommOnlineDiagnostics, Process, Router,    RouterInternal, RS232C, RS232CFace, Socket, Space, String, System  EXPORTS CommOnlineDiagnostics  CONTROL DiagServer, DiagDescriptions, EtherDiagEchoImpl, RS232CDiagnosticImpl =    BEGIN  DiagServer;  DiagDescriptions;  EtherDiagEchoImpl;  RS232CDiagnosticImpl;  END..