-- Copyright (C) 1983, 1984  by Xerox Corporation. All rights reserved. -- CommDiagClient.config-- last edited by SMA  18-Nov-83 16:46:39CommDiagClient: CONFIGURATION  IMPORTS -- CommOnlineDiagnostics, -- Courier, DiagInternal, Heap  EXPORTS CommOnlineDiagnostics  CONTROL DiagClient, DiagDescriptions =    BEGIN  DiagClient;  DiagDescriptions;  END..