-- File: RS232CIO.config - last edit:-- JAV                  8-Sep-87 10:15:32-- AOF                 27-May-87 13:43:10-- Copyright (C) 1983, 1985, 1986, 1987 by Xerox Corporation. All rights reserved.PACK RS232CDriverA, RS232CDriverB, DialupImpl; RS232CIO: CONFIGURATION   IMPORTS Heap, Process, RS232CFace, RS366Face, String   EXPORTS Dialup, DialupExtras, RS232C, RS232CControl, RS232CPrivate   CONTROL RS232CDriverA, RS232CDriverB, DialupImpl =BEGIN-- channel and reserving it   RS232CDriverA;   RS232CDriverB;-- dialing   DialupImpl;END.LOGTime:  By: Danielson  Rubicon release.Time: 15-Sep-81 16:30:46  Danielson  Add RS232CControl to EXPORT list.Time: 28-Jun-82 14:16:41  Danielson  Remove ois references.Time: 26-Oct-83 14:53:28  SMA  Start all modules.Time: 23-Oct-85 11:02:38  JAV  Added String for Hayes supportTime: 15-Apr-87  9:57:02  AOF  Removed LINKS: CODETime: 27-May-87 13:42:51  AOF  Removed import of System; added PACK