-- File: UnpackedMailStub.config - last edit:-- AOF                  5-Apr-87 17:35:48-- Wobber               4-Apr-84 14:39:58-- Hankins             21-Mar-83 11:45:55-- Copyright (C) 1983, 1984, 1987 by Xerox Corporation. All rights reserved. MailStubConfig: CONFIGURATION  IMPORTS Auth, CH,     CHCommonLookups, Courier, ExpeditedCourier, Heap, Inline, NetworkStream,     NSAddr, NSDataStream, NSName, NSString, Router, SharedKeys, Stream  EXPORTS ALL  CONTROL MailAttributesImpl, MailCourierDescriptions, MailStubDispatcherImpl,    InbasketStubImpl, MailTransportStubImpl, MailStreamImpl =BEGINInbasketStubImpl;MailAttributesImpl;MailCourierDescriptions;MailStubDispatcherImpl;MailTransportStubImpl;MailStreamImpl;END.