-- IncludeChecker.config - Last edited by--   BGY     	10-Aug-82--   BTL  	 9-May-83 18:31:36--   RXJ     	12-Jul-83 13:42:37--   DSC  	15-Feb-85 14:41:12IncludeChecker: CONFIG LINKS: CODE    IMPORTS       BcdOps, CmFile, Date, Expand, Exec, FileName, FileTransfer,      Format, FormSW, Heap, HeraldWindow, Inline, Menu, MFile, MSegment,      MStream, Process, Profile, Put, Runtime, Space,      SpecialMFile, Stream, String, System,      Time, Token, Tool, TTY, TTYSW, UserInput, UserTerminal, Version,      Volume, Window    CONTROL ICControl, ICTool =  BEGIN  ICTool;  ICControl;  ICReadFiles;  ICReadDFFile;    ICProcessData;  ICPrintData;  ICListsImpl;    ProcBcdsImpl;  -- needed for ICReadDFFile  DFSubrImpl;  DFParserImpl;  DFWorldTimeImpl;  SubrImpl;  TransferImpl;	  LeafSubrImpl;  CWFImpl;    LongAllocsA;  LongAllocsB;  GSortImpl;  QuickSortImpl;  END.