-- FTChecksum.config-- JWF	18-Dec-87 17:50:20FTChecksum: CONFIGURATION   IMPORTS Exec, QuickSort, String, Space, System, RuntimeInternal, Heap, SpecialFloppyChannel, SpecialFloppyTapeFace, VM, SpecialFloppyChannelExtras, Process, FloppyDiskFace, ResidentHeap, FloppyChannel, FloppyTapeExtras      CONTROL FloppyTapeChecksumImpl =      BEGIN      FloppyTapeChecksumImpl;      FloppyTapeImpl;      QuickSortImpl;      END.