-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- Print.config; edited by --- RXJ     	28-Nov-83 10:13:05Print: CONFIGURATION LINKS: FRAME  IMPORTS    AddressTranslation, CmFile, Courier, Exec,    FileName, FileTransfer, Heap, Inline, MFile, MSegment, MStream,    NSDataStream, NSString, Process, Profile, Runtime, Selection,    Stream, String, Time, Token  EXPORTS Interpress82Maker, NSPrint, PressStream, PressUtilities  CONTROL NSPrintClientConfig, PrintControl =  BEGIN    NSPrintClientConfig;    NPImpl;  PressNSPrintImpl;    PrintControl;  PressStreamImpl;  PrintUserCm;  PrintFontWidths;  END.