-- File: NSPrintClientConfig.config - edits by-- Alfvin,  8-Oct-82  0:16:54NSPrintClientConfig: CONFIGURATION  IMPORTS Courier, Heap, NSDataStream, NSString   EXPORTS NSPrint  CONTROL NSPrintCourierUtilityImpl, NSPrintCourierClientImpl =  BEGIN  NSPrintCourierClientImpl;  NSPrintCourierUtilityImpl;   END.  