-- DisplayImpl.config - last edited by  -- BXM  	24-Feb-83 17:55:40  -- Poskanzer	23-May-83 15:38:09  -- Rick	28-Oct-83 17:13:53DisplayImpl: CONFIGURATION LINKS : CODE  IMPORTS BitBlt, DisplayOps, RealFns, SpecialDisplay, Window, WindowOps  EXPORTS ALL =  BEGIN      DisplayImplA;  DisplayImplB;  DisplayImplC;  DisplayImplD;  DisplayImplE;  DisplayImplF;  DisplayImplG;  DisplayGlueImpl;  IVectorImpl;      END.    