-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- Find.config, last edit by Woods  83-Aug-05  3:38 pmFind: CONFIGURATION  IMPORTS BitBlt, Exec, FileName, FileTransfer, Format, Heap, Inline, MSegment, MStream, Stream, String, Token  CONTROL FindControl =  BEGIN  FindControl;  FindMatcher;  END.