-- Copyright (C) 1982, 1983  by Xerox Corporation. All rights reserved. -- File: Asm8085.config.-- Last edit DEG     : 26-Sep-84 23:26:40   See LogAsm8085: CONFIGURATION  IMPORTS Exec, Format, Heap, HeraldWindow, MFile, MSegment, MStream, Runtime, Stream, String, System   CONTROL I8085Asm =BEGIN  PrivateStringProcs;  BinaryTreeProcs;  SymbolStream;  ListingStream;  AssInputOps;  ExpressionOps;  CodeOutputOps;  ListOutputOps;  SymbolTableOps;  SymTabIOOps;  SimHashImpl;  WAssembler8085;  I8085Asm;END...-- LOG-- ETN   - 12-Apr-82 14:33:30 - Convert To Trinity.-- ETN   - 29-Sep-82 13:00:11 - Name changes. Add MSegment to IMPORTS-- ETN   - 29-Sep-82 13:00:11 - Sierra. Removed Storage & ZoneAllocatorImpl-- DEG      - 31-Jan-83  6:41:23 - Replaced TTY with Format-- DEG      - 29-May-83 17:04:06 - Replaced Cursor with HeraldWindow-- Time: 26-Sep-84 23:26:32	By: DEG     	Action: Added copyright notice and rebuild for 11.1 release.