-- Copyright (C) 1982, 1983, 1984  by Xerox Corporation. All rights reserved. -- File: Bind8085.config.-- Last edit DEG     : 26-Sep-84 23:27:23   See log--Bind8085: CONFIGURATION  IMPORTS   Exec, Format, Heap, MSegment, MStream, Stream, String, MFile, Time, System  CONTROL BinderDriver =BEGIN  AssInputOps;  BinaryTreeProcs;  Binder8085;  BinderDriver;  CodeOutputOps;  ExpressionOps;  ListingStream;  ListOutputOps;  PrivateStringProcs;  SimHashImpl;  SymbolStream;  SymbolTableOps;  SymTabIOOps;END...-- LOG-- ETN   - 12-Apr-82 14:37:14 - Convert To Trinity.-- ETN   - 29-Sep-82 13:04:42 - Name changes. Add MSegment to IMPORTS-- ETN   - 26-Jan-83 13:20:08 - Sierra. Remove Storage & ZoneAllocatorImpl-- DEG      - 28-Jan-83 21:18:48 - Replace TTY with Format-- KxI   - 14-Feb-84 14:44:33 -  Add edited Time to Logfile-- Time: 26-Sep-84 23:27:19	By: DEG     	Action: Added copyright notice and rebuild for 11.1 release.