-- File: PhoneTestTool.config - last edit:-- AOF                 28-Jun-87 14:02:35-- Copyright (C) 1985, 1987 by Xerox Corporation. All rights reserved. PACK PhoneTestToolImpl, BufferDisplayImpl01;PhoneTestTool: CONFIGURATION  IMPORTS    AddressTranslation, Buffer, CommHeap, CommunicationInternal,    Driver, FormSW, Format, Heap, PhoneNet, Process, Protocol1, RS232CFace,    RS366Face, Socket, SpecialCommunication, SpecialSystem, SppOps, String,    Checksums, System, UserInput, WindowFont, Tool, Put    EXPORTS ALL    CONTROL PhoneTestToolImpl =  {PhoneNetConfig; RS232CIO; PhoneTestToolImpl; BufferDisplayImpl}...