-- File: OnlineDiagnosticsConfig.config - last edit:-- Jose G. Espinoza:OSBU North:Xerox 21-May-93 14:49:24-- Copyright (C) 1983, 1985, 1993 by Xerox Corporation. All rights reserved.-- Last edited	By SPL,   3-Mar-86 10:37:25-- last edited by JMP 1985 Aug 2-- Last revised	By RobertsA,  21-Feb-85 13:39:19-- Last revised	By Grundler,  1-Nov-83  0:39:49-- OnlineDiagnosticsConfig.config-- Owner: IOArch­.esOnlineDiagnosticsConfig: CONFIGURATION LINKS: CODE   IMPORTS  Floppy, FloppyChannel, Heap, KeyboardFace, OnlineDiagnosticsExtra, ProcessorFace, Space    EXPORTS OnlineDiagnostics, OnlineDiagnosticsExtra    CONTROL OnlineKeyboardDiscriptionsImpl =BEGIN  --Floppy disk drive diagnostics  FloppyOnlineDiagnosticsImpl;  --Bitmap display, Level-IV keyboard, and Lear Siegler diagnostics  OnlineKeyboardDiscriptionsImpl;  OnlineKeyboardDisplayDiagImpl;  OnlineDisplayDiagImplDesire;END....  -- of OnlineDiagnosticsConfig   