-- File: UnpackedDiagFloppyUtilConfigDove.config-- Last edited on  22-Jan-86  9:08:37  by  KL---- Copyright (C) 1986 by Xerox Corporation. All rights reserved.---- Purpose: Used to make UnpackedDiagFloppyUtilConfigDove.bcd, which is used by--          the two floppy disk system.----UnpackedDiagFloppyUtilConfigDove: CONFIGURATION LINKS: CODE  IMPORTS  DiagDiskMkTime, DiagDiskTime, FloppyChannel, File,  	   OfflineDiagInterface, PhysicalVolume, Runtime, Space, Volume   EXPORTS  OfflineDiagInterfaceExtra =	     BEGIN     -- Implementation modules specific to Floppy Disk Utility    OfflineFloppyDiskUtilitiesDove; -- Utility implementation    FloppyDiskUtilMessagesImplDove; -- Message implementations    END... UnpackedDiagFloppyUtilConfigDove.config       LOGCreated on 22-Jan-86  KL