-- File: UnpackedKDMDiagConfigDove.config-- Last edited on  10-Feb-87 18:14:52  by  KXW---- Copyright (C) 1986, 1987 by Xerox Corporation. All rights reserved.---- Purpose: Used to make UnpackedKDMDiagConfigDove.bcd, which is used by the two--	    floppy disk system.----  UnpackedKDMDiagConfigDove: CONFIGURATION LINKS: CODE  IMPORTS  DisplaySpecialFaceDaisy, DoveInputOutput, OfflineDiagInterface, OfflineDiagTTYDove, ProcessorFace, Runtime, String, SysConfigChannelDefs, TTY, UserTerminal  EXPORTS  OfflineDiagInterface, OfflineDiagTTYDove =	     BEGIN     -- Implementation modules specific to KDMOfflineDiagnosticsDove    KDMMsgesAndKBDsImplDove; -- KDMOfflineDiagnosticsDove messages and keyboards    KDMOfflineDiagnosticsDove; -- Diagnostic implementations    END... KDMOfflineDiagnosticsDove.config       LOGCreated on 22-Jan-86  KL