-- File: UnpackedOfflineFloppyDiagsDove.config-- Last edited on  6-Oct-87 13:52:12  by  SL---- Copyright (C) 1986 by Xerox Corporation. All rights reserved.---- Purpose: Used to make UnpackedOfflineFloppyDiagsDove.bcd, which is used by--          the two floppy disk system.----UnpackedOfflineFloppyDiagsDove: CONFIGURATION LINKS: CODE  IMPORTS  DiagDiskMkTime, DiagDiskTime, FloppyChannel, Floppy, -- File,  	   Heap, OfflineDiagInterface, OnlineDiagnosticsExtra,	   ProcessorFace, Runtime, Space --, SpecialSystem, System   EXPORTS  OfflineDiagInterface =	     BEGIN     -- Implementation modules specific to OfflineFloppyDiagsDove    FloppyOnlineDiagnosticsImpl;    OFLFloppyDiagsDoveImpl;     OfflineFloppyMsgImplDove;    END... UnpackedDiagFloppyUtilConfigDove.config       LOGCreated on 30-Jan-86 13:37:18  SL30-Jan-86 13:37:18  SL 6-Oct-87 13:52:08  STC, convert to 14.0, remove File, SpecialSystem, System