-- File: Install.config - last edit:-- AOF                 24-May-87 16:25:20-- AXD                 20-Apr-83 15:19:37-- LXR                  9-Nov-81 18:15:48-- BXM                  2-Sep-81 16:39:47-- PXK                 19-Aug-83 16:29:01-- RXJ                 13-May-83 18:13:15-- BJD                 27-Jul-84 10:45:15-- AOF                  7-Jan-85 16:56:14-- Copyright (C) 1987, 1989 by Fuji Xerox Co., Ltd. and Xerox Corporation. All rights reserved.Install: CONFIGURATION  IMPORTS     Cursor,    DiskChannel, Exec, File, FileName, FileTransfer, Format, Heap, HeraldWindow,    Inline, KernelFile, OthelloOps, PhysicalVolume, ProcessorFace, ProcessorFaceExtras,     ProcessorFaceExtras2, Runtime,    Space, PacketExchange, SpecialVolume, System,    String, TemporaryBooting, TemporarySetGMT,    Time, Volume  CONTROL InstallImpl =  BEGIN    InstallImpl;  OthelloOpsImpl;    END.