--DiagTestTool.config - (last edited by SMA 12-Dec-84 11:47:57)DiagTestTool: CONFIGURATION  IMPORTS AddressTranslation, CommOnlineDiagnostics, DiagTestInternal, FormSW,    Heap, Process, Put, System, Time, Tool, UserInput  CONTROL DiagTestImpl, DiagTestDisplayImpl =    BEGIN  DiagTestImpl;  DiagTestDisplayImpl;  END..