-- Copyright (C) 1984  by Xerox Corporation. All rights reserved. -- Brownie.config-- BJD       28-Aug-84 13:43:42Brownie: CONFIGURATION LINKS: CODEIMPORTS Exec, FileName, FileTransfer, FileTransferPupOps, FileTransferUtils, Heap, HeraldWindow, MStream, Process, Profile, Runtime, Stream, String, STP, Time, Token, TTY, Version-- NS Stuff<<,Courier, FileTransferNSOps, FileTransferOps, NSDataStream, NSFile, NSString>>	EXPORTS BrownieOps, --BrownieQOps,-- ParseDefs CONTROL BrownieControl = {BrownieControl;BrownieParse;BrowniesA;--BrowniesB;--BrowniesC;}.