-- Copyright (C) 1984, 1985  by Xerox Corporation. All rights reserved. -- AdobeStub.config-- BJD       18-May-84 12:05:09-- RSF       26-Sep-85 20:02:19-- JCS       16-Jun-85 21:25:18AdobeStub: CONFIGURATIONIMPORTS AccessCH, AddressTranslation, AdobeCourier, Auth, Courier, Event, Heap, MemoryStream, MSegment, NSDataStream, NSFile, NSName, NSString, Process, Profile, Runtime, Stream, String, Space, SupervisorEXPORTS AdobeOps, AdobeServer, ARAccessCONTROL AdobeCourierClientImplA = {AdobeCourierClientImplA;AdobeCourierClientImplB;AdobeCourierUtilities;ARAccessImpl;}.