-- Copyright (C) 1984, 1985  by Xerox Corporation. All rights reserved. --Adobe.config--RSF      		14-Mar-85 17:23:02--BJD    		22-Feb-84 15:02:58--JCS    		 1-Oct-85 16:41:00--RLC			18-Sep-86 20:04:06Adobe: CONFIGURATIONIMPORTS AccessCH, AddressTranslation, AdobeCommon, AdobeCommonInternal, AdobeCourier, AdobeOps, AdobeServer, AdobeToolContext, ARAccess, Auth, CmFile, Context, Courier, Cursor, Date, Event, Exec, FormSW, GSort, Heap, MemoryStream, Menu, MFile, MSegment, MsgSW, MStream, NSDataStream, NSFile, NSName, NSString, Process, Profile, Put, Runtime, Selection, Space, SpecialRuntime, Stream, String, StringLookUp, Supervisor, TajoMisc, Time, Token, Tool, ToolDriver, ToolWindow, UserInput, Version, WindowEXPORTS AdobeCommon, AdobeOps, AdobeServer, AdobeToolContextCONTROL AdobeToolConfig = BEGIN   AdobeToolConfig;   AdobeStub;  END.  --RLC			18-Sep-86 20:04:06 shot EXPORT of MyCmFile, IMPORT of Volume, NSFileStream, MyCmFile