-- Copyright (C) 1984, 1985  by Xerox Corporation. All rights reserved. --AdobeServerUpdater.config--RSF      	 6-Mar-85 14:49:53--PAD           20-Sep-84 13:43:59--JCS           22-Jan-85 10:48:32AdobeServerUpdater: CONFIGURATIONIMPORTS  AdobeCourier, AdobeQOps, AdobeServerOps, AdobeSetUpdate, AdobeUpdater, ARFileAccess, Courier, Date, Heap, NSFile, NSSegment, NSString, Process, Space, Stream, String, Time EXPORTS AdobeUpdater, AdobeQOps, AdobeSetUpdate =BEGIN  AdobeQueueImpl;  AdobeUpdaterImpl;  AdobeSetUpdateImpl;  END.