-- DumpBcd.config-- BGY     	14-Jan-85 14:47:22-- Copyright (C) Xerox Corporation 1983, 1984, 1985. All rights reserved.DumpBcd: CONFIG  IMPORTS     Format, FormSW, Heap, MFile, MSegment,     Put, Runtime, String, Tool, UserTerminal  CONTROL DumpFiles =  BEGIN  DumpFiles;  Dumpster;  Terminal;  END.