--Emu.config--Last Edit: BGY      on 24-Jul-85 13:39:06-- Copyright (C) 1984 by Xerox Corporation. All rights reserved.Emu: CONFIG LINKS:CODE  IMPORTS    Atom, BitBlt, Caret, CmFile, Context, Cursor, Display, Format, Heap,     FormSW, Process, Runtime, Selection,  Inline,    String, UserInput, UserTerminal, ToolFont, MStream, MFile, Stream,    TIP, Tool, ToolWindow,Window, WindowFont  EXPORTS Emulator, EmulatorOps  CONTROL EmulatorsA, EmulatorsE =    BEGIN    EmulatorsA;    EmulatorsB;    EmulatorsC;    EmulatorsD;    EmulatorsE;    EmulatorsF;    Terminal;    Terminal10;    VT10;    END.