-- ET.config-- BGY     	14-Jan-85 14:48:01-- Copyright (C) Xerox Corporation 1983, 1984, 1985. All rights reserved.ET: CONFIG   IMPORTS    Atom, Caret, CmFile, Context, Cursor, Display, Format, FormSW, Heap, TIP,    MSegment, MFile, Runtime, Selection, Tool, ToolFont, ToolWindow,     UserInput, UserTerminal,  String, Put, Time,     Process, Window, WindowFont, MStream, Stream   CONTROL Emu, EmuTest =    BEGIN    EmuTest;    Emu;    END.