-- StateAssembler.config-- BGY     ,	14-Jan-85 14:03:50-- Copyright (C) Xerox Corporation 1983, 1984, 1985. All rights reserved.StateAssembler: CONFIG  IMPORTS    Atom, Format, FormSW, Heap, Inline, Put, MFile, MSegment,     MStream, RefTab, Stream, String, TermCap, Time,     Tool, UserTerminal, WindowFont   CONTROL MakeState =   BEGIN  MakeState;  Dumpster;  TermCapImplA;  TermCapImplC;  END..     