-- TestParse.config-- Last Edit: BGY on 28-Jul-85 14:55:50-- Copyright (C) Xerox Corporation 1983, 1984, 1985. All rights reserved.TestParse: CONFIG   IMPORTS     Format, FormSW, Heap, MFile, MSegment, MStream, Put,      Stream, String, TermCap, Token, Tool  CONTROL TermCapTest = {  TermCapTest;  TermCapImplA;  TermCapImplB;  TermCapImplC;  GSortImpl;  }...