-- File: MesaBasics.config - last edit:-- AOF                 13-Sep-87 17:10:57-- PXK                 11-Nov-81 17:27:27-- LXR                 12-Nov-81 23:35:04-- JGS                 16-Sep-82 14:39:41-- CXH                 21-Apr-83 13:37:01-- AXD                 18-Jul-83 12:15:15-- Copyright (C) 1981, 1982, 1983, 1987 by Xerox Corporation. All rights reserved. MesaBasics: CONFIGURATION  IMPORTS    DeviceCleanup, Format, Heap, PacketExchange, Process, ProcessorFace,    Router, Space, String, System, MFile, MSegment, SpecialMFile  EXPORTS ALL =      BEGIN    SymConfig;  AllocsA; AllocsB;  CharIOImpl;  CommandPack;  SetTimeImpl;    END.