-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- LogTest.config (last edited by: JXG     on: 27-Apr-83 10:20:06)LogTest: CONFIGURATIONIMPORTS   File, Heap, Inline, Process, Runtime, Space, String, System, Volume, TTYEXPORTS   Log, LogFileCONTROL   LogTestImpl =BEGIN   CommandImpl;   LogImpl;   LogFileImpl;   LogTestImpl;END.LOGTime: October 17, 1980  1:30 PM  By: SXY   	Action: Created file27-Apr-83 10:20:14 JXG      deleted Transaction