-- Copyright (C) 1981, 1982, 1983, 1984  by Xerox Corporation. All rights reserved. -- File: FTP.config   Last Edit:-- BXM  ;	21-Jan-81 11:12:22-- LXR    ;	 2-Feb-82 18:14:53-- RXR   ;	22-Oct-81 11:27:44-- RXJ     ;	 8-Jan-82 19:16:09-- CXH   ;      29-Sep-82 16:06:06-- RSF          18-Aug-83 18:21:48FTP: CONFIGURATION  IMPORTS    Date, Exec, FileName, FileTransfer, Format, Heap, Inline, MStream, Profile,    Runtime, Stream, String, StringLookUp, Time     EXPORTS MFTPDefs  CONTROL MFTPCommands, MFTPMain =    BEGIN  MFTPUtilities;  MFTPCommands;  MFTPMain;  END.