-- File: RemoteExec.config - last edit:-- AOF                  6-Oct-87 13:17:17-- WD      	25-Jun-84 11:33:43-- LGR    	27-Oct-82 11:08:51  -- BGY     	13-Feb-85 11:44:32  -- Copyright (C) 1983, 1984, 1985, 1987 by Xerox Corporation. All rights reserved.   RemoteExec: CONFIGURATION LINKS: FRAME    IMPORTS       Auth, CH, CmFile, Courier, Exec, ExecInternal, Format, GateStream,       Heap, HeraldWindow, NetworkStream, NSName,      NSString, PhysicalVolume, Process, Profile,       Runtime, Stream, String, StringLookUp, System, Time, Token, TTY, Volume,      SppOps, Protocol1    EXPORTS ALL    CONTROL ExecsG, GateStubConfig, GateService, RemoteExecImpl =    BEGIN        GateStubConfig;    GateService;    RemoteExecImpl;    TelnetStreamImpl;    ExecsG;    ErrorMsgImpl;    END. -- of RemoteExec    