-- File: BufferDisplayImpl.config - last edit:-- AOF                 28-Jun-87 13:38:19-- BKI                 20-Aug-87 13:37:52-- Copyright (C) 1987 by Xerox Corporation. All rights reserved. PACK BufferDisplayImpl01, BufferDisplayImpl2, BufferDisplayImpl3,  OSIAddressConversionImpl;BufferDisplayImpl: CONFIGURATION LINKS: FRAME  IMPORTS ByteBlt, Checksums, Format, Inline, String  EXPORTS BufferDisplay = {  BufferDisplayImpl01; BufferDisplayImpl2; BufferDisplayImpl3;  OSIAddressConversionImpl}...