-- File: BufferDebug.config - last edit:-- AOF                 30-Aug-87 14:43:05-- SMA                 15-Apr-85 10:07:38-- Copyright (C) 1983, 1984, 1987 by Xerox Corporation. All rights reserved.PACK BufferDebugImpl, BufferDisplayImpl01; BufferDebug: CONFIGURATION  IMPORTS    BufferDisplay, ByteBlt, Checksums, DebugUsefulDefs, DebugUsefulDefsExtras,    Event, Exec, Format, Heap, Inline, Menu, Put, Selection, String, Supervisor,    System, Tool      CONTROL BufferDebugImpl = {BufferDebugImpl; BufferDisplayImpl}...