-- File: CourierStats.config - last edit:-- AOF                 26-Apr-88 17:04:47-- Copyright (C) 1988 by Xerox Corporation. All rights reserved.PACK CourierStatsImpl, Flippers;CourierStats: CONFIGURATION LINKS: FRAME  IMPORTS    Context, CourierInternal, Display, Exec, Format, FormSW, Flipper,    Heap, Process, String, Tool, ToolWindow, Window, WindowFont, Put, Time    CONTROL CourierStatsImpl = {CourierStatsImpl; Flippers}...LOG11-Jan-88 12:31:47  AOF  Created file