-- File: ErrorCollector.config - last edit:-- AOF                 26-Apr-88 17:02:49-- Copyright (C) 1986, 1987, 1988 by Xerox Corporation. All rights reserved. PACK ErrorCollectorImpl, WSInfoClientImpl;ErrorCollector: CONFIGURATION LINKS: FRAME  IMPORTS    Buffer, Courier, Format, FormSW, Heap, Runtime, Router, Socket, Time,    Protocol1, SpecialCommunication, String, System, Driver, Tool, Put    CONTROL ErrorCollectorImpl =  BEGIN  ErrorCollectorImpl; WSInfoClientImpl  END...LOG