-- File: EtherGraph.config - last edit:-- AOF                 25-Jul-88 14:47:12-- Copyright (C) 1984, 1987, 1988 by Xerox Corporation. All rights reserved.   EtherGraph: CONFIGURATION LINKS: FRAME  IMPORTS     Buffer, CommUtil, Display, Driver, Exec,    FormSW, Heap, Inline, Process, Protocol1, Router, Runtime,    SpecialCommunication, String, System, Time, Tool, ToolWindow  CONTROL EtherGraphImpl = {EtherGraphImpl; DataLinkControlImpl}.    