-- File: EtherMonitor.config - last edit:-- AOF                 25-Jul-88 14:48:12-- Copyright (C) 1984, 1987, 1988 by Xerox Corporation. All rights reserved.   EtherMonitor: CONFIGURATION LINKS: FRAME  IMPORTS     Buffer, Driver, Exec, ExtendedString, FormSW, Heap, Inline, System,    Protocol1, Process, Router, Runtime, SpecialCommunication, Put,    String, Time, Tool  CONTROL EtherMonitorImpl = {EtherMonitorImpl; DataLinkControlImpl}.    