-- File: EtherStats.config - last edit:-- AOF                 26-Apr-88 17:04:20-- Copyright (C) 1985, 1986, 1987, 1988 by Xerox Corporation. All rights reserved. PACK EtherStatsImpl, Flippers;EtherStats: CONFIGURATION LINKS: FRAME  IMPORTS    Context, Display, Driver, Exec, Format, FormSW, Flipper, Heap, Process,    Runtime, String, Tool, ToolWindow, Window, WindowFont, Put, Time,    EthernetDriverFriends    CONTROL EtherStatsImpl = {EtherStatsImpl; Flippers}...LOG15-Oct-85 12:01:37  AOF  Created file