-- File: EtherIOGraph.config - last edit:-- AOF                 25-Jul-88 14:46:58-- Copyright (C) 1983, 1987, 1988 by Xerox Corporation. All rights reserved.   EtherIOGraph: CONFIGURATION LINKS: FRAME  IMPORTS     AddressTranslation, Buffer, Display, Driver, Exec, FormSW, Heap, Inline,    Process, Protocol1, Router, Runtime, Space, SpecialCommunication, String,    System, Time, Tool, ToolWindow, UserTerminal, WindowFont      CONTROL EtherIOGraphImpl = {EtherIOGraphImpl; DataLinkControlImpl}.    