-- File: GraphTool.config - last edit:-- AOF                 22-Apr-87 18:04:15-- Copyright (C) 1987 by Xerox Corporation. All rights reserved.GraphTool: CONFIGURATION  IMPORTS    ByteBlt, Context, Display, Exec, Format, FormSW, Heap, Process, Put,    Runtime, Selection, Space, String, Tool, ToolWindow, Window, WindowFont      CONTROL GraphToolImpl = {GraphToolImpl; PlotToolImpl; RealImpl; GraphSWs}...