-- File: RoutingCollector.config - last edit:-- AOF                 26-Apr-88 17:03:10-- Copyright (C) 1987, 1988 by Xerox Corporation. All rights reserved. PACK RoutingCollectorImpl, WSInfoClientImpl;RoutingCollector: CONFIGURATION LINKS: FRAME  IMPORTS    Buffer, Courier, Format, FormSW, Heap, Runtime, Router, Socket, Time,    Process, Protocol1, SpecialCommunication, String, System, Driver, Tool,    Put, Exec    CONTROL RoutingCollectorImpl =  BEGIN  RoutingCollectorImpl; WSInfoClientImpl  END...LOG