-- File: SppStats.config - last edit:-- AOF                 26-Apr-88 17:04:35-- Copyright (C) 1985, 1986, 1987, 1988 by Xerox Corporation. All rights reserved. PACK SppStatsImpl, Flippers;SppStats: CONFIGURATION LINKS: FRAME  IMPORTS    Context, Exec, Display, Format, FormSW, Flipper, Heap, Process,    Put, StatsOps, String, Time, Tool, ToolWindow, Window, WindowFont    EXPORTS ALL    CONTROL SppStatsImpl =  BEGIN  SppStatsImpl; Flippers;  END...LOG 9-Oct-86 15:56:06  AOF  Created file