-- File: SptpDStats.config - last edit:-- AOF                 28-Mar-88 14:13:16-- Copyright (C) 1987, 1988 by Xerox Corporation. All rights reserved. PACK SptpDStatsImpl, Flippers, LedSWs;SptpDStats: CONFIGURATION LINKS: FRAME  IMPORTS    Context, Exec, Display, Driver, Format, FormSW, Flipper, Heap, Process,    Put, Runtime, SptpOps, String, Time, Tool, ToolWindow, Window, WindowFont    EXPORTS ALL    CONTROL SptpDStatsImpl = {SptpDStatsImpl; Flippers; LedSWs}...LOG 1-Oct-87 14:33:01  AOF  Created file