-- File: SurveyBF.config - last edit:-- AOF                 23-Oct-86 14:38:38-- kam                 19-Aug-85  9:54:46-- Copyright (C) 1985, 1986 by Xerox Corporation. All rights reserved.SurveyBF: CONFIGURATION  IMPORTS    Buffer, Exec, Format, Heap, Process, Router, Socket, String,    System, QuickSort, NetworkBinding  CONTROL    WSInfoClientImpl, SurveyBFImpl = {WSInfoClientImpl; SurveyBFImpl}...