-- File: TrashCollector.config - last edit:-- AOF                 25-Jul-88 11:23:36-- Copyright (C) 1986, 1987, 1988 by Xerox Corporation. All rights reserved. PACK TrashCollectorImpl, WSInfoClientImpl, DataLinkControlImpl;TrashCollector: CONFIGURATION LINKS: FRAME  IMPORTS    AddressTranslation, Buffer, CmFile, Courier, Exec, ExtendedString,    Format, FormSW, Heap, MStream, Runtime, Router, Socket, Time, Protocol1,    SpecialCommunication, String, System, Driver, Tool, Put, Process, UserInput,    WindowFont, EthernetDriverFriends    CONTROL TrashCollectorImpl =  BEGIN  TrashCollectorImpl; WSInfoClientImpl; DataLinkControlImpl;  END...LOG