-- File: WSTool.config - last edit:-- AOF                 23-Dec-86 10:03:53-- KAM                 16-Apr-85  9:26:05-- Copyright (C) 1985, 1986 by Xerox Corporation. All rights reserved. WSTool: CONFIGURATION  IMPORTS    AddressTranslation, Buffer, Format, FormSW, Heap, Inline, NetworkBinding,    Put, Router, Socket, String, System, Tool  CONTROL WSInfoClientImpl, WSInfoTool = {WSInfoClientImpl; WSInfoTool}...