-- File: XferTest.config - last edit:-- AOF                  2-Feb-87 19:46:54-- Copyright (C) 1987 by Xerox Corporation. All rights reserved.XferTest: CONFIGURATION  IMPORTS    AddressTranslation, ByteBlt, Courier, Exec, Format, FormSW, Heap, MFile,    MStream, PacketExchange, PacketStream, Process, Protocol1, Put,    Router, Runtime, SppOps, Stream, System, Tool, Window, WindowFont, XStream  CONTROL XferServer, XferTool = {XferTool; XferServer; XferProtocolImpl}...