-- File: Yodel.config - last edit:-- AOF                 10-May-88  9:33:05-- kam                 15-Oct-85 16:30:01-- Copyright (C) 1985, 1986, 1988 by Xerox Corporation. All rights reserved.Yodel: CONFIGURATION  IMPORTS    AddressTranslation, Buffer, Context, Display, Exec, Driver,    FormSW, Heap, Inline, PacketStream, Process, Put, Protocol1, Router,    Socket, String, System, Tool, ToolWindow, Window, WindowFont  CONTROL Flippers, YodelImpl = {Flippers; YodelImpl}...