-- DevComSoft.config - Edited by--  Mark,	27-May-81 20:32:59--  SXW   ,	13-Jul-81 14:52:13--  SXS   ,	18-Sep-81 19:16:45--  BXM  ,	14-Nov-81 17:37:57--  PXK    ,	19-Apr-83 17:17:20--  LXR    ,	19-Apr-83 17:14:47--  JGS    ,	 2-Feb-83 17:15:22--  DWE    ,	22-Dec-83  9:25:06--  RXJ     ,	31-Jan-84 20:49:43--  BJD    ,	11-Feb-85 15:55:00  DevComSoft: CONFIGURATION   IMPORTS    ByteBlt, File, FloppyChannel, Heap, Process, Runtime, Space,   SpecialSystem, Stream, System, TTY, Volume, VM  EXPORTS ALL  CONTROL RealImpl =  BEGIN    FormatImpl;  RealImpl LINKS: FRAME;  StringsImplA; StringsImplB;  TimeImpl;  TTYImpl LINKS: FRAME;  FloppyImpl;  FileStreamImpl;  SOSP83HeapImpl;  MemoryStreamImpl;  Unformatter;    END.