-- Copyright (C) 1982, 1984  by Xerox Corporation. All rights reserved. -- File: FileTransfers.config - last edit:-- BXM  	 7-Jan-82 13:29:53-- BJD    	18-Jun-84 13:59:10FileTransfers: CONFIG LINKS : FRAME  IMPORTS     Auth, FileName, FileTransferOps, Heap, MFile, MSegment, MStream, Profile, Runtime,    Stream, String, System, Time, UserInput  EXPORTS ALL   CONTROL FileTransfersA, FileTransfersF =  BEGIN    FileTransfersA;  FileTransfersF;    END.