-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- File: FormSWs.config - edits by-- BGY     	23-Feb-83 16:06:00-- AXD    	 4-Nov-83 13:59:44FormSWs: CONFIG  IMPORTS    Atom, AsciiSink, Caret, Context, Cursor, Dictionary, Display, Heap, Inline,    Menu, Profile, Put, Scrollbar, Selection, String, TajoOps, TextDisplay,    TextSource, TIP, ToolFont, ToolWindow, UserInput, UserTerminal,    Window, WindowFont  EXPORTS ALL  CONTROL FormSWsA, FormSWsJ =  BEGIN    FormSWsA;  FormSWsB;  FormSWsC;  FormSWsD;  FormSWsE;  FormSWsF;  FormSWsG;  FormSWsH;  FormSWsI;  FormSWsJ;    END.