-- Copyright (C) 1982, 1983  by Xerox Corporation. All rights reserved. -- File: UserInputs.config   Edits by-- PXK    ,	17-Nov-82 20:37:46-- JGS on	18-Nov-82 16:56:43-- AXD    	16-Feb-83 17:30:13UserInputs: CONFIGURATION  IMPORTS    Context, Cursor, Heap, Menu, MFile, MStream, Put, Process, Profile,    Runtime, Selection, Stream, String, System, TajoMisc, TajoOps, TIP,    TIPTable, UserTerminal, Window  EXPORTS ALL  CONTROL UserInputsB, TIPMatchImpl =    BEGIN        AtomImpl;    TIPImpl;    TIPMatchImpl;        TIPTableReader;        TajoTIP;  -- table compiled TIP Table        UserInputsA;    UserInputsB;        END. -- of UserInputs.config		