-- File: Windows.config - last edit:-- Riggle.PA           12-Aug-86 10:20:15-- Copyright (C) 1982, 1984 , 1986 by Xerox Corporation. All rights reserved. -- File: Windows.config   Edits by-- BXM  ,	 7-Oct-82 20:34:17-- AXD    ,	 6-Jun-84 14:38:16Windows: CONFIGURATION  IMPORTS Heap, SpecialWindow, UserTerminal  EXPORTS ALL  CONTROL WindowImplC, WindowImplD =  BEGIN    WindowImplA;  WindowImplB;  WindowImplC;  WindowImplD;  RectangleImpl;    WindowFonts;  END.