-- Copyright (C) 1981, 1982, 1984  by Xerox Corporation. All rights reserved. -- File: Wisk.config - edits by-- PXK    ,	12-Nov-82 19:17:42-- SXW   ,	14-Jul-81 10:45:07-- BXM  ,	20-Oct-81 14:52:54-- JGS,		 3-Dec-82 12:41:12-- Mark,	27-May-81 20:20:04-- RXR   ,	 9-Oct-81 15:21:33-- LXR    ,	 4-Oct-82 11:18:52-- SXS   ,	20-Oct-82 14:59:54-- RXJ     ,	24-Sep-82 20:01:38-- TXS ,	30-Sep-82 11:51:12-- AXD    ,	 8-Jun-84 16:33:18-- BGY     ,	27-Dec-82 19:47:53-- KAM  ,		23-Jul-84 12:01:48-- DWR    	19-Feb-85 14:12:39Wisk: CONFIGURATION   IMPORTS    TajoMisc, -- initialToolStateDefault    TajoOps, -- zone    ByteBlt, CmFile, Dictionary, Event, Format, Heap, Inline, MFile,    MSegment, MStream, Process, Profile, ProfileExtra, RefTab, Runtime, Space, Stream,    String, StringLookUp, Supervisor, System, TIPTable, Time, Token,     TTY, UserTerminal    EXPORTS ALL, TajoFont  =  BEGIN    TajoBasics;  TajoExtras;  TextSWs;  FormSWs;  TajoTools;  TajoFont;    END..