-- File: OFLFloppyExecRemnantsDove.config - last edit:-- KXW                   2-Feb-87 16:58:47-- TXM                  17-Apr-89 16:44:43  Added ProcessorFaceExtras2-- Copyright (C) 1987 by Xerox Corporation. All rights reserved.DIRECTORY    XNS: FROM "UnpackedXns",    Base: FROM "UnpackedBase";  OFLFloppyExecRemnantsDove: CONFIGURATION  IMPORTS     ByteBlt, DiskChannel, EthernetFace, File, Heap, KernelFile, Process, ProcessorFace, ProcessorFaceExtras2, PhysicalVolume, ResidentHeap, Runtime, Space, SpecialRuntime, SpecialSystem, SpecialVolume, Stream, System, TemporaryBooting, TemporarySetGMT, VM, Volume  EXPORTS ALL  CONTROL OFLFloppyExecRemnantsStart =    BEGIN    OFLFloppyExecRemnantsStart;    XNS;  Base;    OthelloOpsImpl;    END...