-- Copyright (C) 1984, 1985, 1986  by Xerox Corporation. All rights reserved. -- SymConfig.config-- Yamamoto	19-Dec-84 15:11:34-- Wagner	10-Sep-86  9:50:15SymConfig: CONFIG   IMPORTS Alloc, Heap, Inline, MFile, MSegment, SpecialMFile, String   EXPORTS ALL   CONTROL FilePack, LiteralPack, SymbolCache, SymbolCopierA, SymbolCopierB, SymbolPack, SymbolPackExt, TreePack, TypePack = {    FilePack;    LiteralPack;     SymbolCache;    SymbolCopierA;    SymbolCopierB;    SymbolPack;     SymbolPackExt;     TreePack;    TypePack;    }.