-- HalfToneTool.config-- Last edited by MRR 17-Dec-86  8:56:46HalfToneTool: CONFIGURATION   IMPORTS     Display, Exec, FormSW, Heap, Inline, MFile, MSegment, MsgSW, Process, Put, System, Tool, ToolWindow   CONTROL HalfToneToolImpl, HalfToneImpl = {     HalfToneToolImpl;     HalfToneImpl }.     