-- Copyright (C) 1981, 1982, 1983, 1986  by Xerox Corporation. All rights reserved. -- Spy.config - last edit-- JBD    	15-Sep-86 12:30:52-- AXD    	23-Sep-83 18:14:15-- BXM  	28-Jan-82 15:36:52-- RXL  	26-Aug-81 16:08:40Spy: CONFIGURATION LINKS: CODE  IMPORTS    Alloc, DebugUsefulDefs, DebugUsefulDefsExtras, Event, Format, FormSW, Heap,     Menu, Put, Runtime, Selection, Space, SpecialSpace, String, Supervisor,     SwordUsefulDefs,    SymbolOps, SymbolTable, Time, Tool, ToolWindow, UserInput, VM, Window,     WindowFont  CONTROL SpyTool =  BEGIN    SpyTool;  SpyInterface;  SpySyms;    GFHashImpl;  GFHashDebugImpl;    END.