-- File: ProcessControl.config - last edit:-- Litman               9-Jul-87  6:32:43-- Copyright (C) 1987 by Xerox Corporation. All rights reserved.ProcessControl: CONFIG  IMPORTS AMEvents, AMLoadstate, AMModel, AMProcess, CmFile, Exec, Format, FormSW, Heap, MStream, Process, Put, Runtime, Stream, String, Token, Tool, ToolWindow, TTYSW, UserInput, WindowFont, WorldVM, WorldVMOps  CONTROL DebugToolA = {    DebugToolA;  DebugToolB;  DebugToolC;    }..