-- Copyright (C) 1986, 1987  by Xerox Corporation. All rights reserved.-- ImageProcessingImpl.config  Last edited by Monahan 4-Dec-86 13:07:06ImageProcessingImpl: CONFIGURATION  IMPORTS Heap  EXPORTS BandBLT, FlipX, Floyd, GrayBlt, HalfTone, ImageRotation, RasterOps, ScaleBitsToGray, TrapezoidBlt   CONTROL BandBLTImpl, FlipXImpl, FloydImpl, GrayBltImpl, HalfToneImpl, ImageRotationImpl, RasterOpsImpl, ScaleBitsToGrayImpl, TrapezoidBltImpl =BEGINBandBLTImpl;FlipXImpl;FloydImpl;GrayBltImpl;HalfToneImpl;ImageRotationImpl;RasterOpsImpl;ScaleBitsToGrayImpl;TrapezoidBltImpl;END. -- of ImageProcessingImplLOG24-Oct-86 -- JPM -- Created.4-Dec-86 -- JPM -- Added more implementation modules.23-Nov-87 15:25:25 -- RDH -- Added import of Heap to get rid of binder warning.