-- NSStringConvertConfig.config -- Last revised by: Alfvin   16-Dec-83 16:56:20-- For XC <=> OIS TranslationsNSStringConvertConfig:  CONFIGURATION  IMPORTS Inline, Runtime, XString   EXPORTS ALL =  BEGIN  NSStringConvertImpl;    XC82ToInterimImpl;  InterimToXC82Impl;  StandardToXC82Impl;  XC82ToStandardImpl;  InterimToStandardKanjiMap;  StandardToInterimKanjiMap;    END.     LOG  when - who - what22-Sep-82  9:19:51 - Beeley - Created based on Maynard's PSCharConvertConfig.28-Sep-82 13:09:15 - Alfvin - Changed name to NSStringConvertConfig. 5-Oct-82 17:34:25 - Alfvin - Added Heap, NSString imports.11-Jan-83 14:20:55 - Beeley - Added ByteBlt to IMPORTS.