-- File: Chat.config - last edit:-- AOF                  9-Oct-87 19:43:45-- BGY     	28-Jul-84 16:24:36-- DWR    	28-Jan-85 11:01:35-- Copyright (C) 1984, 1987 by Xerox Corporation. All rights reserved.Chat: CONFIG   IMPORTS     AddressTranslation, Auth, CmFile, Context, Courier, Exec,      FormSW, Heap, NetworkStream, NSName, NSString, Process, Protocol1,     Profile, Put, Runtime, Selection, SppOps, Stream, String, TextSource,    TextSW, TIP, Token, Tool, ToolWindow, TTY, TTYSW, UserInput, UserTerminal,    Window  CONTROL GateStubConfig, ChatImpl = {    ChatImpl;    ChatErrors;    GateStubConfig;    }.