-- EtherTester.config, AOF, 27-Sep-83  9:03:21EtherTester: CONFIGURATION  IMPORTS    Format, Inline, Process, ResidentHeap,    Runtime, Space, SpecialRuntime, SpecialSpace, SpecialSystem, String, System,    Time, VM,    Cursor, Display, FormSW, HeraldWindow, MsgSW, Put, TajoMisc, Tool, ToolWindow,    Unformat, UserInput, WindowFont,    NewEthernetFace  CONTROL    EtherTesterMain, EtherTesterStats, EtherTesterPilot, EtherTesterTajo  =  BEGIN  EtherTesterMain;  EtherTesterStats;  EtherTesterPilot;  EtherTesterTajo;  END.