-- File: EtherTesterDLion.config - last edit:-- AOF                  6-Sep-85 21:18:07-- Copyright (C) 1985 by Xerox Corporation. All rights reserved.EtherTesterDLion: CONFIGURATION  IMPORTS    Format, Inline, Process, ResidentHeap,    Runtime, Space, SpecialRuntime, SpecialSpace, SpecialSystem, String, System,    Time, VM,    Cursor, Display, FormSW, HeraldWindow, MsgSW, Put, TajoMisc, Tool, ToolWindow,    Unformat, UserInput, WindowFont,    DeviceCleanup, DLionInputOutput -- required by NewEthernetHead  CONTROL    NewEthernetHeadDLion,    EtherTesterMain, EtherTesterStats, EtherTesterPilot, EtherTesterTajo  =  BEGIN  NewEthernetHeadDLion;  EtherTesterMain;  EtherTesterStats;  EtherTesterPilot;  EtherTesterTajo;  END.