-- File: EtherTesterDove.config - last edit:-- AOF                  6-Sep-85 19:23:15-- Copyright (C) 1985 by Xerox Corporation. All rights reserved.EtherTesterDove: CONFIGURATION  IMPORTS    Format, Inline, Process, ResidentHeap,    Runtime, Space, SpecialRuntime, SpecialSpace, SpecialSystem, String, System,    Time, VM,    Cursor, Display, FormSW, HeraldWindow, MsgSW, Put, TajoMisc, Tool, ToolWindow,    Unformat, UserInput, WindowFont,    DeviceCleanup, DoveInputOutput -- required by NewEthernetHead  CONTROL    NewEthernetHeadDove,    EtherTesterMain, EtherTesterStats, EtherTesterPilot, EtherTesterTajo  =  BEGIN  NewEthernetHeadDove;  EtherTesterMain;  EtherTesterStats;  EtherTesterPilot;  EtherTesterTajo;  END.