-- File: BringOver.config - last edit:-- bjd                 15-May-87 15:04:42--    Schmidt	 9-Mar-82 16:54:36--    BTL  	22-Aug-83 22:09:50-- Copyright (C) 1982, 1983, 1987 by Xerox Corporation. All rights reserved. BringOver: CONFIGURATION LINKS: CODE    IMPORTS      CmFile, Date, Event, Exec, FileName, FileTransfer, Format, Heap,      HeraldWindow, MFile, MSegment, MStream, Profile, Put, Runtime,      Space, SpecialMFile, Stream, String, System, Time, Token, TTY, TTYSW,      UserInput, Volume     CONTROL BringOverExecImpl =   BEGIN  BringOverExecImpl;  QuickSortImpl;  BringOverImpl;  DFParserImpl;  DFSubrImpl;  SubrImpl;  TransferImpl;  CWFImpl;  GSortImpl;  DFWorldTimeImpl;  END.