-- File: DFCommands.config - last edit:-- kam                 19-Dec-85 13:03:41-- Copyright (C) 1982, 1983, 1984, 1985 by Xerox Corporation. All rights reserved. DFCommands: CONFIGURATION LINKS: CODE    IMPORTS       Atom, AtomicProfile, Auth, BcdOps, CmFile, Date, Event, Exec, FileName,      FileTransfer, Format, Heap, HeraldWindow, Librarian, MFile, MSegment,      MStream, Profile, Put, Runtime, Space, SpecialMFile, Stream, String,      System, Time, Token, TTY, TTYSW, UserInput, Volume    CONTROL DFCommandsExec =   BEGIN  QuickSortImpl;  BringOverImpl;  CWFImpl;  DFCommandsExec;  DFDeleteImpl;  DFLibrarianImpl;  DFParserImpl;  DFSubrImpl;  DFWorldTimeImpl;  GSortImpl;  LeafSubrImpl;  ProcBcdsImpl;  SModelImpl;  SubrImpl;  TransferImpl;	  VerifyDFImpl;  END.CHANGE LOG19-Dec-85 12:15:56	kam		Merged BringOver.config, SModel.config, VerifyDF.config, DFDelete.config. 