-- Copyright (C) 1982, 1983  by Xerox Corporation. All rights reserved. -- DFDelete.config - Last edited by--   Schmidt	 9-Mar-82 17:05:15--   BTL  	22-Aug-83 22:11:00  DFDelete: CONFIGURATION LINKS: CODE    IMPORTS      CmFile, Date, Event, Exec, FileName, FileTransfer, Format, Heap,      HeraldWindow, MFile, MSegment, MStream, Profile, Put, Runtime,      Space, SpecialMFile, Stream, String, System, Time, Token, TTY, TTYSW,      UserInput, Volume     CONTROL DFDeleteExecImpl =   BEGIN  QuickSortImpl;  DFDeleteExecImpl;  DFDeleteImpl;  DFParserImpl;  DFSubrImpl;  TransferImpl;  SubrImpl;  CWFImpl;  GSortImpl;  DFWorldTimeImpl;  END.  