-- Copyright (C) 1982, 1983  by Xerox Corporation. All rights reserved. -- DFDisk.config - Last edited by --   Schmidt	 9-Mar-82 16:58:47--   BTL  	22-Aug-83 22:11:47DFDisk: CONFIGURATION LINKS: CODE    IMPORTS      CmFile, Date, Exec, FileName, FileTransfer, Format, Heap, MFile,      MSegment, MStream, Profile, Put, Runtime, Space, SpecialMFile,      Stream, String, System, Time, Token, Transfer, TTY, TTYSW, UserInput, Volume    CONTROL DFDiskImpl =   BEGIN  QuickSortImpl;  DFDiskImpl;  DFParserImpl;  DFSubrImpl;  SubrImpl;  CWFImpl;  GSortImpl;  DFWorldTimeImpl;  END.