-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- DFSubstitute.config - Last edited by--   BTL  	22-Aug-83 22:12:17DFSubstitute: CONFIGURATION LINKS: CODE    IMPORTS       CmFile, Date, Event, Exec, FileName, FileTransfer, Format, Heap,      HeraldWindow, MFile, MSegment, MStream, Profile, Put, Runtime,      Space, SpecialMFile, Stream, String, System, Time, Token, TTY, TTYSW,      UserInput, Volume    CONTROL DFSubstImpl =   BEGIN  QuickSortImpl;  DFSubstImpl;  DFParserImpl;  DFSubrImpl;  SubrImpl;  TransferImpl;  CWFImpl;  GSortImpl;  DFWorldTimeImpl;  END.