-- Copyright (C) 1982, 1983  by Xerox Corporation. All rights reserved. -- RemoteDeleteAll.config - Last edited by--   Schmidt	 9-Mar-82 17:03:40--   BTL  	22-Aug-83 22:14:29RemoteDeleteAll: CONFIG LINKS: CODE    IMPORTS      BTree, CmFile, Date, Exec, FileName, FileTransfer, Format, Heap,      HeraldWindow, MFile, MSegment, MStream, Profile, Put, Runtime,      Space, SpecialMFile, Stream, String, Time, System, Token, TTY, TTYSW, UserInput      CONTROL RemoteDeleteAllImpl =   BEGIN  QuickSortImpl;  RemoteDeleteAllImpl;  DFParserImpl;  DFSubrImpl;  SubrImpl;  TransferImpl;  GSortImpl;  CWFImpl;  DFWorldTimeImpl;  END.