-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- RStats.config - Last edited by--   Schmidt	September 28, 1982 1:41 pm--   BTL  	22-Aug-83 22:15:00RStats: CONFIG LINKS: CODE    IMPORTS      BcdOps, CmFile, Date, Event, Exec, FileName, FileTransfer, Format,      Heap, HeraldWindow, MFile, MSegment, MStream, Profile, Put,      Runtime, Space, SpecialMFile, Stream, String, System, Token, TTY, TTYSW,      Time, UserInput, Volume    CONTROL RStatsImpl =   BEGIN  QuickSortImpl;  RStatsImpl;  RStatsDFImpl;  RStatsSupportImpl;  ProcBcdsImpl;  DFSubrImpl;  DFParserImpl;  SubrImpl;  TransferImpl;  LeafSubrImpl;  FQImpl;  CWFImpl;  GSortImpl;  DFWorldTimeImpl;  END.