-- Copyright (C) 1982, 1983, 1984  by Xerox Corporation. All rights reserved. -- SModel.config - Last edited by--   Schmidt	 9-Mar-82 16:54:58--   BTL  	22-Aug-83 22:15:24--   DSC  	26-Feb-85 11:02:18SModel: CONFIGURATION LINKS: CODE    IMPORTS       Atom, AtomicProfile, Auth, CmFile, Date, Event, Exec, FileName, FileTransfer, Format, Heap, HeraldWindow, Librarian, MFile, MSegment, MStream, Profile, Put, Runtime, Space, SpecialMFile, Stream, String, System, Time, Token, TTY, TTYSW, UserInput, Volume    CONTROL SModelExecImpl =   BEGIN  QuickSortImpl;  SModelExecImpl;  SModelImpl;  DFLibrarianImpl;  DFParserImpl;  DFSubrImpl;  SubrImpl;  TransferImpl;  CWFImpl;  GSortImpl;  DFWorldTimeImpl;  END.Change log:Time:			By:		Action:16-Sep-85 10:33:45	DSC		Added Auth import.