-- Copyright (C) 1982, 1983  by Xerox Corporation. All rights reserved. -- VerifyDF.config - Last edited by--   Schmidt	 9-Mar-82 17:00:13--   BTL  	22-Aug-83 22:15:41VerifyDF: CONFIGURATION LINKS: CODE    IMPORTS      BcdOps, CmFile, Date, Event, Exec, FileName, FileTransfer, Format,      Heap, HeraldWindow, MFile, MSegment, MStream, Profile, Put, Runtime,      Space, SpecialMFile, Stream, String, System, TTY, TTYSW, Time, Token,      UserInput, Volume     CONTROL VerifyDFExecImpl =   BEGIN  QuickSortImpl;  VerifyDFExecImpl;  VerifyDFImpl;  ProcBcdsImpl;  DFSubrImpl;  DFParserImpl;  SubrImpl;  TransferImpl;	  LeafSubrImpl;  CWFImpl;  GSortImpl;  DFWorldTimeImpl;  END.