-- NSTerminal.config-- BGY     	24-Jul-85 12:24:21-- Copyright (C) 1984 by Xerox Corporation. All rights reserved.NSTerminal: CONFIG   IMPORTS     AddressTranslation, Atom, Auth, Caret, CH,     CHEntries, CmFile, Context, Courier,     Cursor, Display, Exec, Format,     FormSW, Heap, Inline, MFile, MSegment, NetworkStream,     NSAddr, NSName, NSString,     Menu, MStream, Process,     Profile, Put, Runtime, Selection, Stream, String,      TIP, Token, Tool, ToolFont, ToolWindow, UserInput, UserTerminal,    Window, WindowFont, SppOps, Protocol1, Driver  EXPORTS ALL  CONTROL GateStubConfig, NSTerminalImpl, Emu = {    NSTerminalImpl;    NSTerminalInit;    NSTerminalErrors;    GateStubConfig;    ErrorMsgImpl;    QueueImpl;    Emu;    }.