-- File: NSTimeServerImpl.config - last edit:-- KAM                 15-Apr-85 17:55:23-- CJS		       18-Feb-87 19:39:24 Import Buffer.-- Copyright (C) 1983, 1984, 1985, 1987 by Xerox Corporation. All rights reserved. NSTimeServerImpl: CONFIGURATIONIMPORTS  Buffer, Inline, Process, Router, Socket, SpecialSystem, SystemEXPORTS NSTimeServer, TimeServerClock, TimeServerOpsCONTROL TimeServerImpl =BEGIN  TimeServerImpl;  TimeServerLogDummy;  TimeServerClockImpl;END.