-- Copyright (C) 1986 by Xerox Corporation. All rights reserved.-- ParallelPortDove.configParallelPortDove: CONFIGURATION LINKS: CODE  IMPORTS    DeviceCleanup, DoveInputOutput, Heap, Inline, Process, SpecialRuntime,    SpecialSpace  EXPORTS ParallelPort  CONTROL ParallelPortChannel =  BEGIN  ParallelPortChannel;  ParallelPortHeadDove;  END.LOG31-Jan-86 10:44:18	BKI	Creation.21-Mar-86 17:19:01	BKI	Fix AR 9206.