-- Copyright (C) 1983, 1984, 1985  by Xerox Corporation. All rights reserved. -- File: UnpackedGateService.config - last edit:-- Danielson.PA         2-Jul-84 15:13:39-- Muirhead.PA	       15-Jul-83 14:42:36GateService: CONFIGURATION  IMPORTS Courier, GateStream, GateStreamCourierInternal, GateStreamInternal,    GateStubInternal, Heap, NetworkStream, Process, Stream, System   EXPORTS GateStreamInternal, GateStream, GateNetMgt  CONTROL GateDispatcher, GateStreamService =    BEGIN    -- The GateStream Dispatcher/GAP service  GateDispatcher;  -- GateStream dispatcher  GateStreamService;  -- GAP service      END.  LOG11-Jul-83 15:49:34	Danielson	Created file.15-Jul-83 14:41:46	Muirhead	EXPORT GateSpy. 7-Oct-83 12:49:55	Danielson	UnEXPORT Space, Transaction. 6-Jan-84 10:14:40	Danielson	Broke into two pieces. 2-Jul-84 15:12:27	Danielson	Import System, export GateNetMgt.