-- Copyright (C) 1984, 1988  by Xerox Corporation. All rights reserved. -- Ben.config, edited by-- RSV    	25-Jan-88 15:31:54Ben: CONFIGURATION  IMPORTS    DiskBackingStoreImpl, DiskChannel, Environment, File, Frame, FrameExtras,    Inline, PhysicalVolume, Process, ProcessOperations, ResidentHeap, Runtime,    Space, SpecialFile, SpecialSpace, SpecialVolume, System, VolBackingStore,    Volume, VM, VMPerf  CONTROL BenImpl =   BEGIN    BenImpl;    END.