-- Copyright (C) 1983, 1987  by Xerox Corporation. All rights reserved. -- Misc.config    23-Feb-87 16:36:30 by WDK     Misc: CONFIGURATION  IMPORTS    SpecialSystem  EXPORTS    ByteBlt, KernelObjAlloc, KernelPrograms, ObjAlloc, Stream =  BEGIN    ObjAllocImpl;  StreamImpl;    END.LOG    (For earlier log entries, please see Mesa 8.0 archive version.)4-Oct-82 17:28:55   WDK        MiscPrograms becomes KernelPrograms. ResidentHeapImpl and ZoneImpl move to ResMemMgr. Imports and exports. Removed pack statement. Deep six UtilitiesImpl.21-Dec-82 11:19:28   AWL         Added ObjAllocImpl.23-Dec-82 18:16:21   AWL         Don't import SpecialSpace & Transaction.  Import VM.  HeapImpl now common software.11-Jan-83 15:55:57   WDK        Don't import Runtime, Space, System, VM, Zone (since HeapImpl is out).23-Feb-87 16:36:30   RSV   Deleted LINKS: CODE.