-- Copyright (C) 1984, 1986, 1987  by Xerox Corporation. All rights reserved. -- SOSP83HeapImpl.config      30-Jun-87 11:52:17 by RSVSOSP83HeapImpl: CONFIGURATION  IMPORTS File, Inline, Runtime, Space, System, VM, Volume  EXPORTS Heap, HeapExtras, KernelPrograms, SpecialHeap =  BEGIN    SOSP83HeapGeneric;  SOSP83HeapNormal;  SOSP83HeapUniform;  SOSP83HeapMDS;    END...  -- LOG-- 31-Jan-84  8:42:31  XXJ  Created file.-- 26-Jun-86 14:07:48  RSV  Added SOSP83 to each file name.-- 11-Mar-87 11:14:38  RSV  Deleted LINKS: CODE.-- 30-Jun-87 11:52:17  RSV  Added IMPORTing File and Volume.  Added EXPORTing HeapExtras.