-- Copyright (C) 1981, 1982, 1983  by Xerox Corporation. All rights reserved. -- SpyNub.config - last edited by:-- BXM  	25-Jan-82 11:46:10-- RXL  	24-Aug-81 15:09:42-- LXD      	 5-Jan-82 16:24:52-- JXG    	18-Apr-83 15:57:32-- AXD    	28-Sep-83 14:27:28SpyNub: CONFIGURATION LINKS: CODE  IMPORTS    Frame, FrameExtras, LoadState, Process, Runtime, Space,     SpecialSpace, UserTerminal, VM  EXPORTS SpyClient  CONTROL SpyKernel =  BEGIN    GFHashImpl;  SpyKernel;    SpyRandom;    END.