-- File: LibrarianStub.config - last edit:-- bjd                 27-Mar-86 11:15:39-- PXK:		30-Mar-84 10:41:07-- DJW:	 1-Nov-84 13:30:21-- Copyright (C) 1985, 1986 by Xerox Corporation. All rights reserved.LibrarianStub: CONFIGURATION  IMPORTS     Auth, CH, Courier, Heap, LibProfile, NSName, NSString, String, XString    EXPORTS     ALL  CONTROL LibCourierUserImpl = {    LibCourierUserImpl;        LibCourierImpl;         LibDBCacheImpl;        LibPropList;    AccessCHUserImpl}.    