-- File: LibScavenger.config - last edit:-- bjd                 25-Aug-86 10:28:34-- Copyright (C) 1985, 1986 by Xerox Corporation. All rights reserved.LibScavenger: CONFIGURATION  LINKS:  CODE  IMPORTSByteBlt, File, Heap, Inline, NSSegment, NSSegmentInternal, Space, Volume, LibServOps, NSBTree, NSExec, NSFile, NSString, NSTTY, Runtime, String, TextInput, Time, TTY, XString, XStringHashTable  CONTROL     LibScavengerImpl, NSBTreeImplA = {          LibScavengerImpl;      NSBTreeImplA;      NSBTreeImplB;           }.         