-- File: PhoneNetConfig.config - last edit:-- AOF                 16-Mar-88 15:19:09-- Copyright (C) 1984, 1985, 1987, 1988 by Xerox Corporation. All rights reserved. PACK SptpDriver, SptpImpl;PhoneNetConfig: CONFIGURATION LINKS: FRAME  IMPORTS    Buffer, ByteBlt, CommunicationInternal, CommHeap, CommUtil, Driver,    HostNumbers, Inline, NewRS232CFace, Stats, SptpStats, Process,    ProcessorFace, Protocol1, Runtime, SpecialRuntime, SppOps,    SpecialSystem, System  EXPORTS PhoneNet, PhoneAdoption, SptpOps, SptpProtocol  CONTROL SptpDriver, SptpImpl = {SptpDriver; SptpImpl}...  <<Log.31-Mar-87 19:19:15  AOF  Trimmed for Funston16-Oct-87 13:03:34  AOF  PhoneNet vs SptpDriver 4-Mar-88  7:46:14  AOF  Trim EXPORTS from ALL to ...>>