-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- File: Executive.config  - edited by -- JGS on 	27-Jan-83 14:44:02-- RXR   	15-Apr-83 14:48:45-- LXR    	12-Dec-83 15:13:44-- KAM  	 9-Oct-84 21:34:28-- MEW		 3-May-85 15:09:44  Executive: CONFIGURATION    IMPORTS      Caret, CmFile, Event, Exec, ExecInternal, File, File,      FileName, FileStream, Format, Heap, HeraldWindow, Inline, MFile,      MLoader, MStream, MVolume, PhysicalVolume, Process, Profile,       Runtime,      SpecialMFile, SpecialVolume, Stream, String, StringLookUp,      Supervisor, System, TajoOps, Time, Token, Tool, ToolDriver,      TTY, TTYSW, UserInput, UserTerminal, Version, VersionExtras, Volume,      Window, WindowFont    EXPORTS ALL    CONTROL ExecImpl, ExecsA =    BEGIN        Queues;    SimpleExec;    ExecImpl;    ExecsA; ExecsB; ExecsC; ExecsD; ExecsE; ExecsF;    ExpandImpl;        END. -- of Executive    