-- Copyright (C) 1983, 1987  by Xerox Corporation. All rights reserved. -- FloppyCommands.config - edit by:-- RXJ     	 9-Nov-83 17:58:44-- RSV           7-Oct-87 10:42:28 Added FloppyExtras4 to IMPORTSFloppyCommands: CONFIGURATION   IMPORTS    Exec, Floppy, FloppyExtras, FloppyExtras4, Format, Heap, Inline, MFile,    NSString, SpecialMFile, String, StringLookUp, Time, Token, Volume  EXPORTS ALL  CONTROL FloppyStuff =    BEGIN    AccessFloppyImpl;    FloppyStuff;    END..