-- Copyright (C) 1986  by Xerox Corporation. All rights reserved. -- FileBeater.config     3-Jul-86 11:44:46 by RSVFileBeater: CONFIGURATION  IMPORTS    File, FormSW, Heap, MsgSW, Process, Put, RandomDefs,    Runtime, String, Time, Tool, UserTerminal, Volume  CONTROL FileBeaterImpl =  BEGIN  FileBeaterImpl;  RandomProg;  END.LOG 3-Jul-86 11:44:46   RSV       Created file.