-- Copyright (C) 1986  by Xerox Corporation. All rights reserved. -- FloppyBeater.config     6-May-86 14:41:46 by CAJFloppyBeater: CONFIGURATION  IMPORTS    Floppy, FloppyChannel, FormSW, Heap, Inline, MsgSW, Process, Put, RandomDefs,    Runtime, Space, String, Time, Tool, UserTerminal, Volume  CONTROL FloppyBeaterImpl =  BEGIN  FloppyBeaterImpl;  RandomProg;  END.LOG 3-Apr-86 14:32:50   CAJ	Created file.