-- Copyright (C) 1987  by Xerox Corporation. All rights reserved. -- FloppyTestTool.Config, last edited by:  RSV   1-May-87 16:00:07   FloppyTestTool: CONFIGURATION  IMPORTS    File, Floppy, FloppyExtras, FormSW, FTTDefs, Heap, Inline, MFile, Put,    Space, SpecialMFile, SpecialSystem, String, StringSW, Tool, UserTerminal,    Volume, Window      CONTROL    FTTImpl =    BEGIN FTTImpl; FTTMakeFormAImpl; FTTMakeFormBImpl; FTTApplyOptionsAImpl; FTTApplyOptionsBImpl; FTTApplySetUpImpl; FTTPrintImpl; FTTErrorImpl;    END.LOG:  Time:  9-Dec-81 15:47:25 by: CAJ    Action: Delete Directory; add MFile, SpecialMFile.   Time:  1-Apr-87 21:40:34 by: RSV    Action: Added Copyright notice.  Deleted Storage, Transaction, and FloppyExtras.  Added Heap and Window.  Time:  1-May-87 16:00:07 by: RSV    Action: Added FloppyExtras.