-- Copyright (C) 1983, 1985  by Xerox Corporation. All rights reserved. -- GraphTomD.config (last edited RSV     19-Nov-85 14:45:47)GraphTomD:  CONFIGURATION   IMPORTS Atom, Context, Display, Format, FormSW, GraphTomDOps, Heap, Inline,    MsgSW,  MStream, Put, Scrollbar, Selection, Stream, String, TIP, Tool,    ToolWindow, TomD, UserTerminal, Window, WindowFont  CONTROL GraphTomDMain, GraphTomDFormSW, GraphTomDGraphSW, GraphTomDRepaint,     GraphTomDScroll, GraphTomDTIP, GraphTomDSlct =     BEGIN   GraphTomDMain;  GraphTomDFormSW;  GraphTomDGraphSW;  GraphTomDRepaint;  GraphTomDScroll;  GraphTomDTIP;  GraphTomDSlct      END.  -- 25-Apr-83  9:51:33  JXG  Created file-- 19-Nov-85 14:44:35  RSV  Created log and added MsgSW to imports