-- Copyright (C) 1984  by Xerox Corporation. All rights reserved. -- Gumout.config (last edited by: CAJ  on: 16-Jan-85 15:55:47)Gumout: CONFIGURATION   IMPORTS Exec, FloppyChannel, FormSW, Heap, MsgSW, Put, Runtime, Space,     String, System, Time, Tool, ToolWindow, Version   CONTROL GumoutCentral =BEGINGumoutAction;GumoutParam;GumoutProcess;GumoutCentral;END.LOGTime: November 12, 1980  3:26 PM	By: CAJ 	Action: Created file.Time: February 4, 1981  3:58 PM	By: CAJ 	Action: Deleted SpecialSpace from imports.Time: March 7, 1981  12:02 PM	By: CAJ 	Action: Added MsgSW to imports.Time: 16-Nov-81 13:56:50	By: CAJ 	Action: Deleted FormatSA800Impl,	FloppyChannelInternal, PhysicalVolume.Time: 19-Apr-83 17:47:25	By: CAJ 	Action: Deleted TransactionTime: 14-Jun-84 14:41:54	By: CAJ 	Action: Deleted Storage, added	Exec and ToolWindow.Time: 16-Jan-85 15:54:08	By: CAJ 	Action: Import Runtime, System,	Time, Version.