-- Copyright (C) 1987  by Xerox Corporation. All rights reserved. -- File: MakeKikuBootFloppyTool.config - last edit by:-- RSV           9-May-87 18:42:27 Created from MakeDLionBootFloppyTool.configMakeKikuBootFloppyTool: CONFIGURATION   IMPORTS    Event, File, Floppy, FormSW, Heap, Inline, MFile, MStream, Process,    Put, Runtime, Space, SpecialFloppy, SpecialMFile, String, Supervisor, Time,    Tool, UserInput, UserTerminal, Version  CONTROL FBStompToolKiku =  BEGIN  FBStompToolKiku;  END....