-- Copyright (C) 1981, 1982, 1983, 1985, 1987  by Xerox Corporation. All rights reserved. -- File: MakeDLionBootFloppyTool.config - last edit by:-- RXG   	November 12, 1980  5:17 PM-- JGS    	November 24, 1980  10:47 AM-- FXH    	27-Nov-81 21:22:01-- CAJ 		February 6, 1981  1:54 PM-- RXJ     	28-Dec-82 23:23:47-- LXD      	16-Feb-82 13:10:19-- JXG    	21-Apr-83  9:05:00-- JXG    	28-Nov-83 14:40:25-- RSV          20-Dec-85 16:50:44-- RSV          11-Mar-87 18:31:24 Removed CODE: LINKSMakeDLionBootFloppyTool: CONFIGURATION   IMPORTS    Event, File, Floppy, FormSW, Heap, Inline, MFile, MStream, Process,    Put, Runtime, Space, SpecialFloppy, SpecialMFile, String, Supervisor, Time,    Tool, UserInput, UserTerminal, Version  CONTROL FBStompTool =  BEGIN  FBStompTool;  END....