-- Copyright (C) 1982, 1983  by Xerox Corporation. All rights reserved. -- File: PageScavengerTool.config - last edit:-- PXK    :	22-Mar-82 14:52:03-- LXR    :	21-Oct-83 13:29:17PageScavengerTool: CONFIGURATION  IMPORTS    DiskChannel, Format, FormSW, Heap, Put, Space, String, Token,    Tool, UserTerminal, VM  EXPORTS ALL  CONTROL PageScavengerInt = {    PageScavengerInt;    PageScavengerImpl;        }.  -- of PageScavengerTool.config        