-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- PilotTomP.configPilotTomP: CONFIGURATION  IMPORTS    DiskDriversPerf, FileBasicsPerf, FileMgrPerf, ResMemPerf, SpacePerf, VMPerf,     Format, Heap, Process, SpecialSpace, String, System, TomP  CONTROL    CPUUsageTomP, DiskDriversTomP, FileBasicsTomP, FileMgrTomP, ResMemTomP,    SpaceTomP, VMTomP =  BEGIN  CPUUsageTomP;  DiskDriversTomP;  FileBasicsTomP;  FileMgrTomP;  ResMemTomP;  SpaceTomP;  VMTomP;    END...LOG28-Sep-83 11:22:34 JXP   	KlamathTomP => PilotTomP