-- Copyright (C) 1986  by Xerox Corporation. All rights reserved. -- SwapBeater.config    18-Feb-86 14:02:35 by CAJFloppyEdit: CONFIGURATION  IMPORTS    FormSW, Heap, Inline, MsgSW, Process, ProcessorFace, Put, RandomDefs,    Runtime, Space, String, Time, Tool, UserTerminal  CONTROL SwapBeaterImpl =  BEGIN  SwapBeaterImpl;  RandomProg;  END.LOG18-Feb-86 14:01:55   CAJ	Created file.