-- Copyright (C) 1983, 1985  by Xerox Corporation. All rights reserved. -- Tom.config (created RSV     19-Nov-85 14:03:02)Tom:  CONFIGURATION   IMPORTS AddressTranslation, CmFile, Context, Courier, Cursor, Exec,         Format, FormSW, Heap, MFile, MLoader, MsgSW, MStream, Process, Put, 	Runtime, Stream, String, StringLookUp, 	TextSW, Time, Token, Tool, ToolWindow, UserInput, Version, Window,	-- for GraphTomD ...        Atom, Display, Inline, Scrollbar, Selection, TIP, 	UserTerminal, WindowFont,	-- for TextTomD ...	StringSW,	-- for TimerTomP...        System  EXPORTS TomD, TomP, TomOps  CONTROL TomDImpl, TomPImpl, TomMenu, TomCommands, TomPerf, TomDisplay, TomGlobal,          GraphTomD, TextTomD, TimerTomP =     BEGIN   TomDImpl;  TomPImpl;    TomPerf;  TomMenu;  TomCommands;  TomDisplay;  TomGlobal;  GraphTomD;  TextTomD;  TimerTomP;    END.  -- 25-Apr-83  9:54:57  JXG  created file-- 19-Nov-85 14:02:21  RSV  Added MsgSW to imports