-- Copyright (C) 1983  by Xerox Corporation. All rights reserved. -- TomStub.config (created Jonathan JXG     14-Mar-83 10:56:21)TomStub:  CONFIGURATION   IMPORTS Courier, Heap, Process, String, System, TomOps  EXPORTS TomP  CONTROL TomPImpl, TimerTomP =     BEGIN   TomPImpl;  TimerTomP;    END....