-- File: AddressTranslationConfig.config - last edit:-- AOF                 12-Mar-87 14:35:59-- Copyright (C) 1985, 1986, 1987 by Xerox Corporation. All rights reserved. PACK  AddressTranslationImpl, CacheAddressImpl, AddressCacheImpl,  ListenerImpl, ExtendedStringImpl;AddressTranslationConfig: CONFIGURATION LINKS: FRAME  IMPORTS    Buffer, CH, CHCommonLookups, CHEntries, Courier, Format, Heap, NSAddr,    NSName, NSString, Profile, Runtime, String, PhysicalVolume, Router,    Socket, SocketInternal, Time, Version, Volume, Inline, SpecialSystem,    MStream, Stream, Exec    EXPORTS ALL    CONTROL CacheAddressImpl, ListenerImpl =  {AddressTranslationImpl; CacheAddressImpl; AddressCacheImpl;  ListenerImpl; ExtendedStringImpl}.