-- File: RS232CIOHeadsGuam.config - last edit:-- JPM                  8-Apr-93 10:10:35-- Copyright (C) 1993 by Xerox Corporation. All rights reserved.RS232CIOHeadsGuam: CONFIGURATION LINKS: FRAME  IMPORTS    ByteBlt, DeviceCleanup, GuamInputOutput, Heap, Process, ResidentHeap,    SpecialHeap, SpecialRuntime  EXPORTS    NewRS232CFace, RS232CEnvironment, RS232CFace, RS366Face  CONTROL RS232CSubDriver, SerialHeadGuam, RS366HeadGuam =BEGINRS232CSubDriver;SerialHeadGuam;RS366HeadGuam; -- dummy moduleEND... 8-Apr-93  JPM  Created