-- File: UnpackedWSOnlyHeadsGuam.config - last edit:-- JPM                 21-Apr-93 16:01:30-- Copyright (C) 1993 by Xerox Corporation. All rights reserved.WSOnlyHeadsGuam: CONFIGURATION  IMPORTS    DeviceCleanup, GuamInputOutput, HeadStartChain  EXPORTS    CoProcessorFace, HeadStartChain1 =BEGIN[CoProcessorFace, HeadStartChain1] ¬ CoProcessorHeadGuam[  DeviceCleanup, GuamInputOutput, HeadStartChain];END...21-Apr-93  JPM  Created