-- File: UnpackedOptionalHeadsGuam.config - last edit:-- JPM		21-Apr-93 15:13:42-- Copyright (C) 1993 by Xerox Corporation, Sunnyvale, CA. All rights reserved.OptionalHeadsGuam: CONFIGURATION  IMPORTS    DeviceCleanup, GuamInputOutput, HeadStartChain  EXPORTS    BiParallelPortFace, HeadStartChain2, SpecialTapeFace, TapeFace =  BEGIN  [HeadStartChain2, SpecialTapeFace, TapeFace] ¬ TapeHeadGuam[     HeadStartChain1];  [BiParallelPortFace, HeadStartChain1] ¬ ParallelHeadGuam[     DeviceCleanup, GuamInputOutput, HeadStartChain];  END...21-Apr-93  JPM  Created file.