-- Copyright (C) 1985, 1987  by Xerox Corporation. All rights reserved. -- File: MakeDoveBootFloppyTool.config - last edit by:-- ET	30-Jul-85 10:17:28-- RSV  20-Dec-85 17:16:36-- CAJ   2-Feb-87 12:22:46-- RSV  11-Mar-87 18:31:38 Removed CODE: LINKS-- RSV  23-Mar-87 16:56:55 Roll in 2-Feb-87 12:22:46 changes from 12.5.MakeDoveBootFloppyTool: CONFIGURATION   IMPORTS    Event, File, Floppy, FloppyChannel, FloppyExtras3, FormSW, Heap, MFile,    Process, Put, Runtime, Space, SpecialFloppy, SpecialMFile, String,    Supervisor, Time, Tool, UserInput, UserTerminal, Version  CONTROL FBStompToolDove =  BEGIN  FBStompToolDove;  END....