-- LibrarianTool.config-- last edit by: dsc on    12-Sep-85 15:18:25-- Copyright (C) 1984 by Xerox Corporation. All rights reserved.LibrarianTool: CONFIGURATIONIMPORTS   Auth, CmFile, Event, Exec, FileName, FileTransfer, Format, FormSW, Heap, Librarian, Process, Profile, Put, Runtime, String, Supervisor, Time, Token, Tool, ToolWindow, UserInput, WindowFontCONTROL LibToolImpl =BEGIN	LibToolImpl;	LibExecImpl;	LibToolSubrImpl;	LibToolOpsImpl;	LibToolTransferImpl;END.Change log12-Sep-85 15:18:31	DSC	Added Auth import