-- Copyright (C) 1981, 1982, 1983, 1986  by Xerox Corporation. All rights reserved. -- File MakeBoot.config-- JGS		17-Sep-82  8:52:42-- BTL		1-Dec-81 16:24:24-- BJD		19-Aug-83 12:02:51-- BGY		19-Feb-87 11:47:07MakeBoot: CONFIGURATION LINKS: CODE    IMPORTS       BcdOps, BcdOpsExtras, CommandUtil, Exec, Heap, MFile, MSegment, MStream,      Runtime, Space, SpecialMFile, Stream, String,       TemporaryBooting, Time, TTY, Version    EXPORTS MB, MBVM    CONTROL MBDriver =  BEGIN  MBDriver;  MBParse;  MBLoaderCore;  MBLoadState;  MBScript;  MBOutput;  MBMain;  MBStorageImpl;  MBUtilities;  MBVMemory;  MBCache;  MBLoadmap;  MBDebug;  MBLoadedMemImpl;  MBLoadStateImpl;  LoaderCoreImplA;  LoaderCoreImplB;  MBLoaderImpl;  UnloaderCoreImpl;  QuickSortImpl;  END.LOGBGY	19-Feb-87 11:47:40	  Added imports TemporaryBooting and SpecialMFile for MBDriver	  