-- File: NSPrintClientConfig.config - edits by-- AOF                 27-Jul-87 17:11:41-- Alfvin               8-Oct-82  0:16:54-- Copyright (C) 1987 by Xerox Corporation. All rights reserved.-- Binder [bcd: UnpackedNSPrintClientConfig, symbols: NSPrintClientConfig] ¬ NSPrintClientConfig/csNSPrintClientConfig: CONFIGURATION  IMPORTS Courier, Heap, NSDataStream, NSString   EXPORTS NSPrint  CONTROL NSPrintCourierUtilityImpl, NSPrintCourierClientImpl =  BEGIN  NSPrintCourierClientImpl;  NSPrintCourierUtilityImpl;   END.  