-- File: CTT.config - last edit:-- AOF                 23-Feb-87 15:44:09-- Copyright (C) 1983, 1984, 1987 by Xerox Corporation. All rights reserved. CTT: CONFIGURATION  -- import list    IMPORTS    --Pilot & Tajo    Process, Heap, Stream, System, Runtime, Version,     --Tajo    Format, MLoader, MFile, ToolWindow, FormSW, Put, Tool, ToolDriver, UserInput,    --Communications    Router, RouterInternal,    --Common software    AddressTranslation, String, Time,     --Courier    Courier, CourierInternal  -- control moduleCONTROL CTTool, CTBulk =  BEGIN  CTTool;  CTUser;  CTServer;  CTCom;  CTBulk;  END. -- of CTT.config