-- File: NSFileTransfers.config - last edit:-- bjd                 10-Jun-85 11:25:41-- Copyright (C) 1984, 1985 by Xerox Corporation. All rights reserved.NSFileTransfers: CONFIG  IMPORTS  AddressTranslation, Auth, Courier, FileName, FileTransfer, FileTransferNSOps, FileTransferOps, FileTransferUtils, Heap, MFile, MStream, NSDataStream, NSErrorMsg, NSFile, NSName, NSString, Process, Profile, Stream, String, System    EXPORTS ALL  CONTROL FileTransfersNSA = {    FileTransfersNSA;  FileTransfersNSB;  FileTransfersNSC;  }.