-- Copyright (C) 1984  by Xerox Corporation. All rights reserved. -- ReduceBen.config, edited by-- AXD    	11-Jan-84 14:07:47 ReduceBen: CONFIGURATION  IMPORTS    Alloc, DebugUsefulDefs, AMLoadstate, DebugUsefulDefsExtras, IP,    Exec, FileStream, Heap, Inline, MStream, Runtime, Space,    SpecialVolume, Stream, String, SymbolOps, System, Time,    TTY, Version, Volume  CONTROL ReduceBenA =   BEGIN    ReduceBenA;    END.