-- File: XDELibrarianStub.config - last edit:-- bjd                 11-Mar-88 17:28:16-- PLK:		30-Mar-84 10:41:07-- DJW:	 1-Nov-84 13:30:21-- Copyright (C) 1985, 1986, 1988 by Xerox Corporation. All rights reserved.XDELibrarianStub: CONFIGURATION  IMPORTS     AddressTranslation, Auth, CH, Courier, Event, Heap, NSName, NSString, Profile, Supervisor, String,    -- for XString:    ByteBlt, Space     EXPORTS XLibrarian, Librarian, AccessCH  CONTROL LibProfileImpl = {    LibrarianStub;        LibProfileImpl;    LibTajoImpl;  LibTajoPropList;       -- until 10.0 conversion because of version mismatch with xstring      XStringImplA; XStringImplB;      XStringCompareImpl; XStringCourierImpl;   -- XDigitsImpl; XCharPropsImpl;  if we use bws 4.3 as opposed to 4.2   }.         