-- Copyright (C) 1988  by Xerox Corporation. All rights reserved. -- LFBeater.config    15-Jun-88 10:51:50 by CAJLFBeater: CONFIGURATION  IMPORTS    Exec, FormSW, Heap, Inline, LoadState, MsgSW, Process, Put, RandomDefs,    ResMemPerf, Runtime, RuntimeInternal, Space, String, System, Time,    Tool, ToolWindow, UserTerminal  CONTROL LFBeaterImpl, LFBeaterProcsSupport =  BEGIN  BeaterProcsImpl;  LFBeaterImpl;  LFBeaterProcsSupport;  LFBeaterProcs;  LFBeaterBlocker;  RandomProg;  END.LOG15-Jun-88 10:51:46   CAJ	Created file.