-- Copyright (C) 1982, 1983  by Xerox Corporation. All rights reserved. -- ToolDrivers.config - last edit:-- Mark		Dec 30, 1980 3:44 PM-- Mike		14-Jan-82 10:35:01-- RXJ     	12-Nov-82  9:25:11-- LXR    	22-Nov-83 13:54:51  ToolDrivers: CONFIGURATION  IMPORTS    CmFile, Cursor, Exec, FileSW, Format, FormSW, Heap, Menu, MFile, MSegment,    MStream, MsgSW, Profile, Put, Runtime, Selection, Stream, String, TajoMisc,    TajoOps, Time, TIP, Tool, ToolDriver, ToolWindow, UserInput, UserInputOps,     UserTerminal, Version, Window  EXPORTS    List, FormSWDriver, FormSWDriverExtra, Scan, StringExtra, ToolDriver,    ToolDriverOps, TDParseOps      CONTROL ToolDriversA, ToolDriverExec =    BEGIN    FormSWDriverExtrasA;    FormSWDriversA;    ListsA;    TDInterpreter; TDSupportsA;    TDParser;    TDScanner;    Scans;    StringExtraImpl;    TDGrammar;    ToolDriverExec;    ToolDriversA; ToolDriversB;    END.    