-- File: DebugHeap.config - last edit:-- Riggle.PA            8-Jan-87 17:22:49-- Copyright (C) 1982, 1983 , 1987 by Xerox Corporation. All rights reserved. -- File: DebugHeap.config - last edit: -- JGS on        9-Dec-82 14:23:52-- DWE     on   24-May-83 14:19:27-- BJD     on   23-Aug-83 16:19:44DebugHeap: CONFIGURATION    IMPORTS    DebugUsefulDefs, DebugUsefulDefsExtras2, Event, Exec, FormSW, Heap, Inline, Menu,    Process, Put, Runtime, Selection, Space, String, Supervisor, Time, Tool,    ToolDriver, ToolFont, ToolWindow, UserInput, UserTerminal  CONTROL DHUser =    BEGIN  DHCommands;  DHHeaps;  DHTreeImpl;  DHUser;  END.