-- Copyright (C) 1981, 1982  by Xerox Corporation. All rights reserved. -- BcdTool.config, Last edited by:-- Lewis,	21-Sep-81 11:10:17-- Bruce,	17-Dec-81 12:43:13-- Haynes,	 8-Dec-82 19:09:44BcdTool: CONFIGURATION    IMPORTS       Exec, FormSW, Heap, MFile, MSegment, MsgSW, Put, Runtime,       Selection, String, Time, Tool, UserInput, UserTerminal,       Version, Window, WindowFont    CONTROL BcdToolControl =  BEGIN  BcdToolControl;  BcdToolSourceBcdImpl;  BcdToolWindowsImpl;  BcdToolCommandsImpl;  BcdToolPrintImpl;  END.