-- Copyright (C) 1982, 1983, 1987  by Xerox Corporation. All rights reserved. -- CGenDebug.config	Edited by Sweet,	18-Feb-83 21:44:00-- 			Edited by Bruce,	October 14, 1980  5:04 PM-- 			Edited by Haynes,	8-Dec-82 19:21:07-- 			Edited by JBD,		14-Jan-87 16:30:28CGenDebug: CONFIGURATION   LINKS: CODE  IMPORTS    DebugUsefulDefs, DebugUsefulDefsExtras, Event, Format, FormSW, Heap,     MsgSW, Put, Runtime, Selection, String, Supervisor,    Time, Tool, ToolWindow, UserInput, Version, Window, WindowFont  CONTROL    CGenDebugCommands, CGenDebugCC, CGenDebugVar,     CGenDebugLabels, CGenDebugStack, CGenDebugCons,     CGenDebugGlobals, CGenDebugInterface =  BEGIN  CGenDebugCC;  CGenDebugCommands;  CGenDebugCons;  CGenDebugGlobals;  CGenDebugInterface;  CGenDebugLabels;  CGenDebugStack;  CGenDebugVar;  STDebug LINKS: FRAME;  OpTable;  FOpTable;  FopNames;  DebugTab;    RESIOPack;  END.