-- Copyright (C) 1981, 1982  by Xerox Corporation. All rights reserved. -- STDebug.config  Edited by:-- Bruce,	18-Sep-81 13:38:32-- Haynes,	 8-Dec-82 18:55:53STDebug: CONFIG LINKS: CODE  IMPORTS    DebugUsefulDefs, Format, Heap, MopOps, RESOut, Runtime,     STDebugDefs, String, Time  EXPORTS MopOps, STDebugDefs =  BEGIN    STDebugMisc;  STDebugTrees;  STDebugSymbols;    MopImpl;  MopNames;    END.