-- File: MesaServicesStubs.config - last edit:-- bjd                 15-Oct-87 12:44:36-- Copyright (C) 1985, 1986, 1987 by Xerox Corporation. All rights reserved.MesaServicesStubs: CONFIGURATION  LINKS:  CODE  IMPORTS    Auth, CH, CHEntries, Courier, Heap, MsgOps, NSName, NSFile, NSExec, NSFileName, NSFileStream, NSString, SelfReg, Space, Stream, System, XChar, XString  EXPORTS     ALL   CONTROL     AccessCHImpl = {      AccessCHImpl;      AccessCHUserImpl;       BackupImpl}.         